@model AppDigitalCv.ViewModels.DireccionIndividualizadaVM
@using AppDigitalCv.Security

<div>
    <form id="myForm" enctype="multipart/form-data">

        @Html.HiddenFor(model => model.id, new { id = "id" })

        <div class="bs-container">

            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                <img alt="user Pic" src="~/Imagenes/escudo_uttt.jpg" id="profile-image1" class="product-img img-responsive" width="100" height="70" />
            </div>
            <div class="row">
                <div class="form-group col-lg-7">
                    @Html.Label("Datos de la Direccion Individualizada")
                    <hr />
                    <label>Titulo de la Tesis o Proyecto Individual</label>
                    @Html.TextBoxFor(model => model.strTituloTesis, new { @class = "form-control input-sm", id = "titulo" })
                    <label>Numero de Alumnos</label>
                    @Html.TextBoxFor(model => model.strNumeroAlumnos, new { @class="form-control input-sm",id="numeroAlumnos"})
                </div>

                <div class="row">
                    <div class="form-group col-lg-6 col-lg-offset-4">
                        <a href="#" id="btnSubmit" class="btn btn-sm btn-success"><span><i class="fa fa-edit"></i> Actualizar</span></a>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function () {
           
            var DireccionIndividualizadaVM = {};
            var IdPersonal = @SessionPersister.AccountSession.IdPersonal;

            DireccionIndividualizadaVM.id = $('#id').val();
            DireccionIndividualizadaVM.strTituloTesis = $('#titulo').val();
            DireccionIndividualizadaVM.strNumeroAlumnos = $('#numeroAlumnos').val();

            $.ajax({
                type: "POST",
                url: "/DireccionIndividualizada/UpdateDireccion",
                data: { direccionIndividualizadaVM: DireccionIndividualizadaVM},
                success: function () {
                    $("#myModal1").modal("hide");
                    window.location.href = "/DireccionIndividualizada/Create";
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert(textStatus);
                    console.log(textStatus);

                }
            })
        });
    });
</script>






