@model AppDigitalCv.ViewModels.ParticipacionInstitucionalInternaVM
@using AppDigitalCv.Security

<div>
    <form id="myForm" enctype="multipart/form-data">

        @Html.HiddenFor(model => model.id, new { id = "id" })
        @Html.HiddenFor(model => model.idCatDocumento)
        @Html.HiddenFor(model => model.idPersonal)
        
        <div class="bs-container">

            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                <img alt="user Pic" src="~/Imagenes/escudo_uttt.jpg" id="profile-image1" class="product-img img-responsive" width="100" height="70" />
            </div>
            <div class="row">
                <div class="form-group col-lg-7">
                    <label>Actividad</label>
                    @Html.TextBox("Actividad",null, new { @class = "form-control input-sm" })
                    <label>Fecha de Inicio</label>
                    @Html.TextBox("FechaInicio", null, new { @class = "form-control input-sm", @type = "date" })
                    <label>Fecha de Termino</label>
                    @Html.TextBox("FechaTermino", null, new { @class = "form-control input-sm", @type = "date" })
                </div>
                <div class="row">
                    <div class="form-group col-lg-6 col-lg-offset-4">
                        <a href="#" id="btnEnviar" class="btn btn-sm btn-success"><span><i class="fa fa-edit"></i> Actualizar</span></a>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>


<script>

    $(document).ready(function () {

        $("#btnEnviar").click(function () {

            let actividad = $('#Actividad').val();
            let fechaInicio = $('#FechaInicio').val();
            let fechaTermino = $('#FechaTermino').val();

            if (actividad != "" && fechaInicio != "" && fechaTermino != "") {
                var ParticipacionInstitucionalInternaVM = {};
                var IdPersonal = @SessionPersister.AccountSession.IdPersonal;

                ParticipacionInstitucionalInternaVM.IdPersonal = IdPersonal;
                ParticipacionInstitucionalInternaVM.id = $('#id').val();

                ParticipacionInstitucionalInternaVM.strActividad = $('#Actividad').val();
                ParticipacionInstitucionalInternaVM.fechaInicio = $('#FechaInicio').val();
                ParticipacionInstitucionalInternaVM.fechaTermino = $('#FechaTermino').val();

                $.ajax({
                    type: "POST",
                    url: "/ParticipacionInstitucionalInterna/EditarParticipacionPersonal",
                    data: { participacionInstitucionalExternaVM: ParticipacionInstitucionalExternaVM },
                    success: function () {
                        $("#myModal1").modal("hide");
                        window.location.href = "/ParticipacionInstitucionalInterna/Create";
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert(textStatus);
                        console.log(textStatus);

                    }
                })
            } else
            {
                toastr.warning('No Puedes Dejar Campos Vacios', 'Digital-Cv dice', { timeOut: 1000, closeButton: true });
            }
           
        });
    });
</script>

