@model AppDigitalCv.ViewModels.ParentescoVM
@using AppDigitalCv.Security

<div>
    <form id="myForm">
      <div class="bs-container">
                <div class="row">
                    <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                        <img alt="user Pic" src="~/Imagenes/escudo_uttt.jpg" id="profile-image1" class="product-img img-responsive" width="100" height="70" />
                    </div>
                    <div class="col-md-7 col-xs-11 col-sm-5 col-lg-7">

                        @Html.HiddenFor(model => model.IdPersonal)
                        @Html.HiddenFor(model => model.IdFamiliar)
                        <table class="table jtable">
                            <tbody>
                                <tr>
                                    <td>Nombre:</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.StrNombre, new { @class = "form-control input-sm", @placeholder = "Nombre", size = "30", title = "Nombre del Familiar",id="Nombre"})
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        @Html.RadioButtonFor(model => model.BitVive, true, htmlAttributes: new { id = "rdbFamiliarVive", name = "rdbPadreVive" })<text>Vivo</text>
                                        @Html.RadioButtonFor(model => model.BitVive, false, htmlAttributes: new { id = "rdbFamiliarFinado", name = "rdbPadreFinado" })<text>Finado</text>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ocupación:</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.StrOcupacion, new { @class = "form-control input-sm", @placeholder = "Ocupación", size = "30", title = "Ocupación",id= "Ocupacion" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>Domicilio:</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.StrDomicilio, new { @class = "form-control input-sm", @placeholder = "Domicilio", size = "30", title = "Domicilio",id="Domicilio" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>Edad:</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.IntEdad, new { @class = "form-control input-sm", @placeholder = "Edad", size = "30", title = "Edad",id="Edad" ,type="Number" , min="1", max="100"})
                                    </td>
                                </tr>
                                <tr>
                                    <td>Fecha Nacimiento:</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.DteFechaNacimiento, new { @class = "form-control input-sm", type = "date", title = "Fecha de Nacimiento",id= "DteFechaNacimiento" })
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <a href="#" id="btnSubmit" class="btn btn-sm btn-success left"><span><i class="fa fa-edit"></i> Actualizar</span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
    </form>
</div>
<script src="~/Content/js/plugins/jquery/jquery-3.3.1.min.js"></script>
<script src="~/Content/js/plugins/bootstrap/bootstrap.min.js"></script>
<script>

    $(document).ready(function () {
        var valor = true;
        $("#btnSubmit").click(function () {

            if ($('#rdbFamiliarVive').is(':checked')) {
                valor = true;
            }
            else {
                valor = false;
            }

            var ParentescoVM = {}; //construimos el objeto
            var idPersonal =  @SessionPersister.AccountSession.IdPersonal;
            ParentescoVM.BitVive = valor;
            ParentescoVM.idPersonal = idPersonal;
            ParentescoVM.idFamiliar = $('#IdFamiliar').val();
            ParentescoVM.StrNombre = $('#Nombre').val();
            ParentescoVM.StrOcupacion = $('#Ocupacion').val();
            ParentescoVM.StrDomicilio = $('#Domicilio').val();
            ParentescoVM.IntEdad = $('#Edad').val();
            ParentescoVM.DteFechaNacimiento = $('#DteFechaNacimiento').val();
            debugger;
            //serialización del formaulario para la edicion de los datos
            //var myformdata = $("#myForm").serialize();
            $.ajax({
                type: "POST",
                url: "/DatosFamiliares/EditarDatosFamiliar",
                data: { parentescoVM: ParentescoVM},
                success: function () {
                    $("#myModal1").modal("hide");
                    window.location.href = "/DatosFamiliares/Create";
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert(textStatus);
                    console.log(textStatus);

                }
            });
        });
    });
</script>