@using AppDigitalCv.Security
@model AppDigitalCv.ViewModels.FamiliaresVM
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "myForm", id = "myForm" }))
{
    @Html.AntiForgeryToken()

    <div class="bs-container content" style="min-height:960px;">
        <section class="content-header">
            <h1>
                Agregar Datos de Familiares
                <small>(Agregar)</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"> <i class="fa fa-dashboard"></i> Inicio </a></li>
                <li> <a href="#"> Datos</a></li>
                <li class="active"> Datos de tus Familiares </li>
            </ol>
        </section>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h5 class="box-title">
                            <label class="text-success emailtitleletter">
                                <i class="text-success fa fa-graduation-cap"></i>
                                @SessionPersister.AccountSession.NombreCompleto
                            </label>
                        </h5>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <div class="box-body">
                        <div role="form" class="form-inline">
                            <div class="form-group">
                                <label>Padre:&nbsp;&nbsp;</label>
                                @Html.TextBoxFor(model => model.PadreVM.StrNombre, new { @class = "form-control input-sm", placeholder = "Nombre Completo", required = "required", title = "Nombre completo de tu familiar", pattern = "^[a-záéíóúñA-ZÁÉÍÓÚÑ ]+$", id = "nombrepadre" })
                            </div>
                            <div class="form-group">
                                <label></label>
                                @Html.RadioButtonFor(model => model.PadreVM.BitVive, true, htmlAttributes: new { id = "rdbPadreVive", name = "rdbPadreVive" })<text>Vivo</text>
                                @Html.RadioButtonFor(model => model.PadreVM.BitVive, false, htmlAttributes: new { id = "rdbPadreFinado", name = "rdbPadreFinado" })<text>Finado</text>
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.PadreVM.StrDomicilio, new { @class = "form-control input-sm", placeholder = "Domicilio Completo", required = "required", title = "Domicilio de tu familiar", size = "35", id = "domiciliopadre", pattern = "^[a-záéíóúñA-ZÁÉÍÓÚÑ0-9.#/ ]+$" })
                            </div>
                            <div class="form-group">
                                <label>Ocupación:</label>
                                @Html.TextBoxFor(model => model.PadreVM.StrOcupacion, new { @class = "form-control input-sm", placeholder = "Ocupación", required = "required", title = "Datos de la Ocupación", size = "10", id = "ocupacionpadre", pattern = "^[a-záéíóúñA-ZÁÉÍÓÚÑ ]+$" })
                            </div>
                            <div class="form-group">
                                <label>Edad:</label>
                                @Html.TextBoxFor(model => model.PadreVM.IntEdad, new { @class = "form-control input-sm", placeholder = "Edad", required = "required", title = "Edad del Familiar", size = "1", type = "Number", id = "edadpadre" })
                            </div>
                        </div>
                        <br />
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Madre:&nbsp;</label>
                                @Html.TextBoxFor(model => model.MadreVM.StrNombre, new { @class = "form-control input-sm", placeholder = "Nombre Completo", required = "required", title = "Nombre completo de tu familiar", pattern = "^[a-záéíóúñA-ZÁÉÍÓÚÑ ]+$", id = "nombremadre" })

                            </div>
                            <div class="form-group">
                                <label></label>
                                @Html.RadioButtonFor(model => model.MadreVM.BitVive, true, htmlAttributes: new { id = "rdbMadreVive", name = "rdbMadreVive" })<text>Vivo</text>
                                @Html.RadioButtonFor(model => model.MadreVM.BitVive, false, htmlAttributes: new { id = "rdbMadreFinado", name = "rdbMadreFinado" })<text>Finado</text>
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.MadreVM.StrDomicilio, new { @class = "form-control input-sm", placeholder = "Domicilio Completo", required = "required", title = "Domicilio de tu familiar", size = "35", id = "domiciliomadre", pattern = "^[a-záéíóúñA-ZÁÉÍÓÚÑ0-9.#/ ]+$" })
                            </div>
                            <div class="form-group">
                                <label>Ocupación:</label>
                                @Html.TextBoxFor(model => model.MadreVM.StrOcupacion, new { @class = "form-control input-sm", placeholder = "Ocupación", required = "required", title = "Datos de la Ocupación", size = "10", id = "ocupacionmadre", pattern = "^[a-záéíóúñA-ZÁÉÍÓÚÑ ]+$" })
                            </div>
                            <div class="form-group">
                                <label>Edad:</label>
                                @Html.TextBoxFor(model => model.MadreVM.IntEdad, new { @class = "form-control input-sm", placeholder = "Edad", required = "required", title = "Edad del Familiar", size = "1", type = "Number", id = "edadmadre" })
                            </div>
                        </div>
                        <br />
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Pareja:&nbsp;</label>
                                @Html.TextBoxFor(model => model.ParejaVM.StrNombre, new { @class = "form-control input-sm", placeholder = "Nombre de tu esposo(a)", required = "required", title = "Nombre completo de tu familiar", id = "nombrepareja", pattern = "^[a-záéíóúñA-ZÁÉÍÓÚÑ ]+$" })
                            </div>
                            <div class="form-group">
                                <label></label>
                                @Html.RadioButtonFor(model => model.ParejaVM.BitVive, true, htmlAttributes: new { id = "rdbParejaVive", name = "rdbParejaVive" })<text>Vivo</text>
                                @Html.RadioButtonFor(model => model.ParejaVM.BitVive, false, htmlAttributes: new { id = "rdbParejaFinado", name = "rdbParejaFinado" })<text>Finado</text>
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.ParejaVM.StrDomicilio, new { @class = "form-control input-sm", placeholder = "Domicilio Completo", required = "required", title = "Domicilio de tu familiar", size = "35", id = "domiciliopareja", pattern = "^[a-záéíóúñA-ZÁÉÍÓÚÑ0-9.#/ ]+$" })
                            </div>
                            <div class="form-group">
                                <label>Ocupación:</label>
                                @Html.TextBoxFor(model => model.ParejaVM.StrOcupacion, new { @class = "form-control input-sm", placeholder = "Ocupación", required = "required", title = "Datos de la Ocupación", size = "10", id = "ocupacionpareja", pattern = "^[a-záéíóúñA-ZÁÉÍÓÚÑ ]+$" })
                            </div>
                            <div class="form-group">
                                <label>Edad:</label>
                                @Html.TextBoxFor(model => model.ParejaVM.IntEdad, new { @class = "form-control input-sm", placeholder = "Edad", required = "required", title = "Edad del Familiar", size = "1", type = "Number", id = "edadpareja" })
                            </div>
                            <br />
                            <div class="form-group">
                                <br />
                                <input type="submit" class="btn btn-sm btn-success" value="Guardar" id="btnGuardar" />
                            </div>
                            <br />
                            <div class="form-group">
                                <!-- Agregamos la tabla de forma dinamica  style="display:none" -->
                                <div class="form-group" id="addTable">
                                    <br />
                                    <table id="tblFamiliares" border="1" style="width: 100%; border:solid 1px #428BCA; border-collapse: collapse;" class="table table-hover">
                                        <thead class="table table table-condensed table-bordered table-responsive table-hover" style="color:white; background-color:#428BCA; font-size:10px;">
                                            <tr>
                                                @*<th>Familiar</th>*@
                                                <th>Nombre</th>
                                                <th>Ocupación</th>
                                                <th>Domicilio</th>
                                                <th>Edad</th>
                                                <td>Fecha Nacimiento</td>
                                                <th>Editar</th>
                                                <th>Eliminar</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblBody"></tbody>
                                    </table>
                                    <!-- Establecemos el Modal que se va a presentar cuando demos click en la edicion de los datos-->
                                    <div class="modal fade" id="myModal1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header" style="background-color:#3C8DBC;color:white;">
                                                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                                                    <h5 class="modal-title"><label style="font-size:medium;">Datos familiares</label></h5>
                                                </div>
                                                <div class="modal-body" id="myModalBodyDiv1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="hiddenFamiliarId" />
                                    <!--Terminamos el modal de eliminacion-->
                                </div>
                            </div>

                        </div>
                        <div class="box-footer">


                            <div>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/toastr.min.js"></script>
<script src="~/Scripts/Validate/DatosFamiliares/validate-datos-familiares-form.js"></script>
<script src="~/Scripts/Validate/DatosFamiliares/validate-datos-familiares-regExp.js"></script>
<script src="~/Scripts/Validate/Block/validate-block-click.js"></script>

@section scripts{
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"
            integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw="
            crossorigin="anonymous"></script>

    <script src="~/Content/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script>

        var AddEditar = function (idFamiliar) {

            var url = "/DatosFamiliares/AddEditDatosFamiliares?idFamiliar=" + idFamiliar;

            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");

            })

        };
        var AddDelete = function (idFamiliar) {

            var url = "/DatosFamiliares/DeleteDatosFamiliaresId?idFamiliar=" + idFamiliar;

            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");

            })

        };



        $(document).ready(function () {

            var oTable;
            BindDataTable();

            function BindDataTable() {

                if ($.fn.DataTable.isDataTable('#tblFamiliares')) {
                    oTable.Draw();
                }
                else {

                    oTable = $('#tblFamiliares').DataTable({
                        "bServerSide": true,
                        "sAjaxSource": '/DatosFamiliares/GetDatosFamiliaresTable',
                        "fnServerData": function (sSource, aoData, fnCallback) {
                            $.ajax({
                                type: "Get",
                                data: aoData,
                                url: sSource,
                                success: fnCallback
                            })
                        },
                        "pageLength": 5,
                        "paging": true,
                        "language": {

                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        },
                        "dataSrc": " ",
                        "columns": [

                            { "data": "StrNombre" },
                            { "data": "StrOcupacion" },
                            { "data": "StrDomicilio" },
                            { "data": "IntEdad" },
                            { "data": "DteFechaNacimiento" },
                            {
                                "data": "IdFamiliar",
                                "render": function (IdFamiliar, type, full, meta) {

                                    return '<a href="#" onclick="AddEditar(' + IdFamiliar + ')"><i class="btn btn-sm btn-success fa fa-pencil-square-o"></i></a>'
                                }
                            },
                            {
                                "data": "IdFamiliar",
                                "render": function (IdFamiliar, type, full, meta) {

                                    return '<a href="#" onclick="AddDelete(' + IdFamiliar + ')"><i class="btn btn-sm btn-google glyphicon glyphicon-trash"></i></a>'
                                }
                            },
                        ]
                    });
                }
            }

            var valor = $('#rdbPadreVive').change(function () {
                $('#domiciliopadre').prop('disabled', false).css("border-bottom-color", "#00a65a");            
            });

            var padreFinado = $('#rdbPadreFinado').change(function () {
                $('#ocupacionpadre').prop('disabled', true).css("border-bottom-color", "#f39c12");
                $('#domiciliopadre').prop('disabled', true).css("border-bottom-color", "#f39c12");
                $('#edadpadre').prop('disabled', true).css("border-bottom-color", "#f39c12");
            });

            var madreVivo = $('#rdbMadreVive').change(function () {

                $('#domiciliomadre').prop('disabled', false).css("border-bottom-color", "#00a65a");
               
            });
            var madreFinado = $('#rdbMadreFinado').change(function () {
                $('#ocupacionmadre').prop('disabled', true).css("border-bottom-color", "#f39c12");
                $('#domiciliomadre').prop('disabled', true).css("border-bottom-color", "#f39c12");
                $('#edadmadre').prop('disabled', true).css("border-bottom-color", "#f39c12");
            });

            var parejaVivo = $('#rdbParejaVive').change(function () {
                
                $('#domiciliopareja').prop('disabled', false).css("border-bottom-color", "#00a65a");
      
            });
            var parejaFinado = $('#rdbParejaFinado').change(function () {
                $('#ocupacionpareja').prop('disabled', true).css("border-bottom-color", "#f39c12");
                $('#domiciliopareja').prop('disabled', true).css("border-bottom-color", "#f39c12");
                $('#edadpareja').prop('disabled', true).css("border-bottom-color", "#f39c12");
            });



        });
    </script>
}



