@using AppDigitalCv.Security
@model AppDigitalCv.ViewModels.CompetenciaTiVM
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="bs-container content" style="min-height:960px;">
        <section class="content-header">
            <h1>
                Competencias en TI
                <small>(Agregar)</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"> <i class="fa fa-dashboard"></i> Inicio </a></li>
                <li> <a href="#"> Competencias</a></li>
                <li class="active"> Competencias en TI </li>
            </ol>
        </section>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h5 class="box-title">
                            <label class="text-success emailtitleletter">
                                <i class="text-success fa fa-graduation-cap"></i>
                                @SessionPersister.AccountSession.NombreCompleto
                            </label>&nbsp;
                            <a href="@Url.Action("GetDatosCompetenciasTI","CompetenciaTi")" class="linkfacebookletter">&nbsp;<i class="fa fa-tag"></i><span>Editar Competencias en TI</span> </a>
                        </h5>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <div class="box-body">
                        <div role="form" class="form-inline">

                            <div class="form-group">
                                <ul class="list-group" id="ItemList">
                                    @foreach (var item in ViewBag.Competencias)
                                    {
                                        <li class="list-group-item" id="list">
                                            <div class="checkbox">
                                                <input type="checkbox" id="Check_@item.IdCompetenciaTI" checked="@item.isChecked" />
                                                <label for="Check_@item.IdCompetenciaTI">
                                                    @item.StrDescripcion
                                                    <span class="text-green"><i class="fa fa-tag"></i></span>
                                                </label>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <br />
                            <input type="submit" class="btn btn-sm btn-success" value="Guardar" onclick="GuardarList()" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<!--<script src="~/Scripts/Validate/Block/validate-block-click.js"></script>-->
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/toastr.js"></script>
<!--<script src="~/Scripts/Validate/CompetenciasTi/validate-competencias-ti-checked.js"></script>-->
<script>
    var GuardarList = function () {
        var arrItem = [];
        var comaSeparatedIds = "";
        $("#ItemList li input[type=checkbox]").each(function (index, val) {


            var checkId = $(val).attr("Id");

            var arr = checkId.split('_');

            var currenCheckboxId = arr[1];

            var Ischecked = $("#" + checkId).is(":checked", true);
            if (Ischecked) {
                arrItem.push(currenCheckboxId);
            }

        })
        if (arrItem.length != 0) {
            comaSeparatedIds = arrItem.toString();
            $.ajax({
                url: "/CompetenciaTi/CreateList",
                type: "POST",
                data: { ItemList: comaSeparatedIds },
                success: function (response) {
                    window.location.href = "/CompetenciaTi/GetDatosCompetenciasTI";
                }
            })
        }
    }
</script>