@model AppDigitalCv.Repository.tblPersonal

@{
    ViewBag.Title = "DatosPersonales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <noscript>
        <meta http-equiv="refresh" content="0;URL=@Url.Action("NoScript","Error")" />
    </noscript>
<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <table id="MyDataTable"  border="1" style="width: 100%; border:solid 1px #428BCA; border-collapse: collapse;" class="table table-hover">
        <thead class="table table table-condensed table-bordered table-responsive table-hover" style="color:white; background-color:#428BCA; font-size:10px;">
            <tr>
                <th>Identificador</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Curp</th>
                <th>Rfc</th>
                <td>Editar</td>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.PersonalList != null)
            {

                foreach (var item in ViewBag.PersonalList)
                {
            <tr id="row_@item.idPersonal">
                <td>@item.Nombre</td>
                <td>@item.ApellidoPaterno</td>
                <td>@item.ApellidoMaterno</td>
                <td>@item.Curp</td>
                <td>@item.Rfc</td>
                <td><a href="#" class="btn btn-success" onclick="AddEditEmployee(@item.idPersonal)"><i class="glyphicon glyphicon-pencil"></i> </a> </td>

            </tr>

                }
            }
        </tbody>
    </table>
    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Editar Datos Personales</h3>
                </div>
                <div class="modal-body" id="myModalBodyDiv1">


                </div>


            </div>

        </div>

    </div>
    <input type="hidden" id="hiddenEmployeeId" />
</div>
<script>
    $(document).ready(function () {

        var GetDatosPersonales = function () {
            $.ajax({
                type: "Get",
                url: "/Personal/ConsultarDatosPersonal",
                success: function (response) {
                    BindDataTable(response);
                }

            });

        }
        var BindDataTable = function (response) {

            $("MyDataTable").DataTable({

                "aaData": response,
                "aoColumns": [

                    { "mData": "Nombre" },
                    { "mData": "ApellidoPaterno" },
                    { "mData": "ApellidoMaterno" },
                    { "mData": "Curp" },
                    { "mData": "Rfc" },
                    {
                        "mData": "idPersonal",
                        "render": function (IdPersonal, type, full, meta) {
                            return '<a href="#" onclick="AddEditPersonal(' + IdPersonal + ')"><i class="glyphicon glyphicon-pencil"></i></a>'
                        }
                    },
                ]
            });
        }

        var AddEditPersonal = function (personalId) {
            //voy a buscar al personal por id
            var url = "/Test/AddEditEmployee?EmployeeId=" + employeeId;

            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");

            });

        }

    });

</script>