@model AppDigitalCv.ViewModels.PersonalVM

<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <table class="table table-bordered" id="MyDataTable">
        <thead>
            <tr>
                <th>Identificador</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Curp</th>
                <th>Rfc</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.PersonalList != null)
            {

                foreach (var item in ViewBag.PersonalList)
                {
                    <tr id="row_@item.idPersonal">
                        <td>@item.Nombre</td>
                        <td>@item.ApellidoPaterno</td>
                        <td>@item.ApellidoMaterno</td>
                        <td>@item.Curp</td>
                        <td>@item.Rfc</td>
                        <td><a href="#" class="btn btn-success" onclick="AddEditEmployee(@item.idPersonal)"><i class="glyphicon glyphicon-pencil"></i> </a> </td>

                    </tr>

                }
            }
        </tbody>
    </table>
    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Editar Datos Personales</h3>
                </div>
                <div class="modal-body" id="myModalBodyDiv1">


                </div>


            </div>

        </div>

    </div>
    <input type="hidden" id="hiddenEmployeeId" />
</div>