@model AppDigitalCv.ViewModels.PersonalVM
@using AppDigitalCv.Security

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-widget">
                <div class="box-header with-border">
                    <div class="user-block">
                        <img class="img-circle" src="~/Imagenes/Usuarios/@SessionPersister.AccountSession.NombreCompleto/ImagePerfil/perfil.jpeg" alt="User Image">
                        <span class="username"><a href="#">@SessionPersister.AccountSession.NombreCompleto</a></span>
                        <span class="description">Fecha Actual: @DateTime.Now</span>
                    </div>
                    @*<div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Mark as read">
                                <i class="fa fa-circle-o"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>*@
                </div>
                <div class="box-body" style="">
                    <p class="text-justify">
                    </p>
                    <div class="attachment-block clearfix">
                        <img class="attachment-img" src="~/Imagenes/escudo_uttt.jpg" alt="Attachment Image">

                        <div class="attachment-pushed">
                            <h4 class="attachment-heading"><a target="_blank" href="http://www.uttt.edu.mx/">@SessionPersister.AccountSession.Universidad</a></h4>
                            <div class="attachment-text text-justify">
                                @Html.DisplayFor(model => model.strLogros, new { @class = "text-muted text-justify" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-lg-offset-11">
                            <input type="button" id="btnEditar" value="Editar" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modalSemblanza">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#3C8DBC;color:white;">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h5 class="modal-title"><label style="font-size:medium;">Semblanza</label></h5>
            </div>
            <div class="modal-body" id="myModalBodyDiv1">
            </div>
        </div>
    </div>
</div>
<link href="~/Content/toastr.min.css" rel="stylesheet" />
@section scripts
    {
    <script src="~/Scripts/toastr.min.js"></script>
    <script>
    $(document).ready(function () {

        $('#btnEditar').click(function ()
        {
            let idPersonal = @SessionPersister.AccountSession.IdPersonal;

            let url = "/Personal/GetSemblanzaEdit?_idPersonal=" + idPersonal;
      
            $('#myModalBodyDiv1').load(url, function ()
            {
                $('#modalSemblanza').modal('show');
            });
        });

    });
    </script>
}


