@model AppDigitalCv.ViewModels.PremiosDocenteVM
@using AppDigitalCv.Security

<div>
    <form id="myForm">
        @Html.HiddenFor(m => m.IdPersonal, new { @class = "form-control input-sm", id = "IdPersonal" })
        @Html.HiddenFor(m => m.IdDocumento, new { @class = "form-control input-sm", id = "IdDocumento" })
        @Html.HiddenFor(m => m.id, new { @class = "form-control input-sm", id = "idPremio" })
        <div class="form-inline">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3">
                        <img alt="user Pic" src="~/Imagenes/escudo_uttt.jpg" id="profile-image1" class="product-img img-responsive" width="100" height="70" />
                    </div>
                    <div class="col-lg-3">
                        ¿Deseas <strong>Eliminar</strong> este registro realmente?
                    </div>
                    <div class="col-lg-6">
                        <ul class="todo-list">
                            <li class="list-unstyled">
                                <label>Nombre: </label> @Html.DisplayFor(model => model.StrNombrePremio, new { @class = "form-control input-sm", @placeholder = "Nombre", @disabled = "disabled" })
                            </li>
                            <li class="list-unstyled">
                                <label>Actividad Desempeñada: </label> @Html.DisplayFor(model => model.StrActividadDesempeniada, new { @class = "form-control input-sm", @placeholder = "Nombre", @disabled = "disabled" })
                            </li>
                            <li class="list-unstyled">
                                <label>Fecha de Obtencion del Premio: </label> @Html.DisplayFor(model => model.DteFechaObtencionPremio, new { @class = "form-control input-sm", @placeholder = "Nombre", @disabled = "disabled" })
                            </li>
                        </ul>                     
                        <br />
                        <a href="#" id="btnSubmit">
                            <i class="btn btn-sm btn-danger">Eliminar</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </form>

</div>
<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            $("#loaderDiv").show();

            var myformdata = $("#myForm").serialize();

            $.ajax({

                type: "POST",
                url: "/digitalcv/PremiosDocente/EliminarPremiosDocente",
                data: myformdata,
                success: function () {
                     window.location.href = "/digitalcv/PremiosDocente/Create";
                }

            })
        })

    })


</script>