@using AppDigitalCv.Security
@model AppDigitalCv.ViewModels.PremiosDocenteVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "PremiosDocente", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="bs-container" style="min-height:960px; margin-top:30px">
        <section class="content-header">
            <h1>
                Premios y Distinciones Sociales
                <small>(Agregar)</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"> <i class="fa fa-dashboard"></i> Inicio </a></li>
                <li> <a href="#">Agregar</a></li>
                <li class="#">Premios y Distinciones Sociales</li>
            </ol>
        </section>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-success">
                    <div class="box-header with-border">

                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Nombre del Premio:</label>
                                        @Html.TextBoxFor(model => model.StrNombrePremio, new { @class = "form-control input-sm", required = "required", placeholder = "Nombre del Premio", title = "Escribe el Nombre del Premio", pattern = "[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}", id = "Premio" })
                                    </div>
                                    <div class="form-group">
                                        <label>Describa la Función Desempeñada:</label>
                                        @Html.TextBoxFor(model => model.StrActividadDesempeniada, new
                                        {
                                            @class = "form-control input-sm",
                                            placeholder = "Nombre de la Actividad Desempeñada",
                                       pattern = "[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}",
                                            required = "required",
                                            title = "Ingresa la Actividad Desempeñada",
                                            id = "Actividad"
                                        })
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Nombre de la Institución:</label>
                                        @Html.TextBoxFor(model => model.StrInstitucion, new { @class = "form-control input-sm", placeholder = "Institución", title = "Escribe el Nombre de la Institución", required = "", pattern = "[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}", id = "Institucion" })
                                    </div>
                                    <div class="form-group">
                                        <label>Año de Recepción del Premio:</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.TextBoxFor(model => model.DteFechaObtencionPremio, new { @class = "form-control input-sm pull-rigth datepicker", required = "required", title = "Fecha de Entrega del Premio", id = "fechaObtencion" })
                                        </div>
                                    </div>
                                  
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>Evidencia Documental</label>
                                    @Html.TextBoxFor(model => model.Documentos.DocumentoFile, new { @class = "form-control input-sm", @type = "file", id = "documentoInputFile" })
                                    @Html.ValidationMessageFor(model => model.Documentos.DocumentoFile, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <input type="submit" class="btn btn-sm btn-success" value="Guardar Información" title="Guarda los datos" id="btnGuardar" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group input-sm" id="addTable">
            <br />
            <table id="tblPremiosDocente" border="1" style="width: 100%; border:solid 1px #428BCA; border-collapse: collapse;" class="table table-responsive">
                <thead class="" style="color:white; background-color:#428BCA; font-size:10px;">
                    <tr>
                        <th>Nombre del Premio</th>
                        <th>Fecha de Obtención</th>
                        <th>Documento</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tblBody"></tbody>
            </table>
            <!-- Establecemos el Modal que se va a presentar cuando demos click en la edicion de los datos-->

        </div>

        <div class="modal fade" id="myModal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#3C8DBC;color:white;">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h5 class="modal-title"><label style="font-size:medium;">Premio del Docente</label></h5>
                    </div>
                    <div class="modal-body" id="myModalBodyDiv1">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModalUpdate">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#3C8DBC;color:white;">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h5 class="modal-title"><label style="font-size:medium;">Premio del Docente</label></h5>
                    </div>
                    <div class="modal-body" id="myModalBodyUpdate">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModalDipslay">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#3C8DBC;color:white;">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h5 class="modal-title"><label style="font-size:medium;">Premio del Docente</label></h5>
                    </div>
                    <div class="modal-body " id="myModalBodyDisplay">
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

<link href="~/Content/toastr.min.css" rel="stylesheet" />

@section Scripts
{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/Validate/Premios/validate-premios-form.js?v=1"></script>
    <script src="~/Scripts/Validate/Premios/validate-premios-regExp.js"></script>
    <script src="~/Scripts/Validate/PremiosDocente/validate-premios-docente-upload.js?v=1"></script>

    <script>

         var AddDisplay = function (id) {

            var url = "/PremiosDocente/DisplayPremiosDocente?_idPremio=" + id;

            $("#myModalBodyDisplay").load(url, function () {
                $("#myModalDipslay").modal("show");

            })

        };

         var AddUpdate = function (id) {

            var url = "/PremiosDocente/GetPremioUpdateByPersonal?_idPremio=" + id;

            $("#myModalBodyUpdate").load(url, function () {
                $("#myModalUpdate").modal("show");

            })

        };

        var AddDelete = function (id) {

            var url = "/PremiosDocente/GetPremioDeleteByPersonal?_idPremio=" + id;

            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");

            })

        };


        $(document).ready(function () {

            var oTable;

            BindDataTable();

            function BindDataTable() {

                if ($.fn.DataTable.isDataTable('#tblPremiosDocente')) {
                    oTable.Draw();
                }
                else {
                    oTable = $('#tblPremiosDocente').DataTable({
                        "bServerSide": true,
                        "sAjaxSource": '/PremiosDocente/GetDatosFamiliaresTable',
                        "fnServerData": function (sSource, aoData, fnCallback) {
                            $.ajax({
                                type: "Get",
                                data: aoData,
                                url: sSource,
                                success: fnCallback
                            })
                        },
                        "pageLength": 10,
                        "language": {

                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        },
                        "dataSrc": "",
                        "columns": [

                            { "data": "StrNombrePremio" },
                            { "data": "DteFechaObtencionPremio" },
                            {
                            "data": "Documentos.StrUrl",
                                "render": function (StrUrl) {
                                return '<a target="_blank" href="/Imagenes/Usuarios/@SessionPersister.AccountSession.NombreCompleto/' + StrUrl + '"><i class="btn btn-default fa fa-file-pdf-o" style="color:red;"></i></a>&nbsp; '+StrUrl+''
                                }
                            },                                                          {
                                "data": "id",
                                "render": function (id, type, full, meta) {

                                    return ' <a href="#" class="" onclick="AddDisplay(' + id + ')"><i class="btn btn-sm btn-default glyphicon glyphicon-search"></i></a> <a href="#" onclick="AddUpdate(' + id + ')"><i class="btn btn-sm btn-success glyphicon glyphicon-pencil"></i></a> <a href="#" class="" onclick="AddDelete(' + id + ')"><i class="btn btn-sm btn-danger glyphicon glyphicon-remove"></i></a> '
                                  }
                            },
                          
                        ]
                    });
                }
            };
        });
    </script>
}