@using AppDigitalCv.Security
@model AppDigitalCv.ViewModels.PremiosDocenteVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "PremiosDocente", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="bs-container content" style="min-height:960px;">
        <section class="content-header">
            <h1>
                Premios y Distinciones
                <small>(Agregar)</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"> <i class="fa fa-dashboard"></i> Inicio </a></li>
                <li> <a href="#">Agregar</a></li>
                <li class="#">Premios y Distinciones</li>
                <li class="active">Agregar Premios</li>
            </ol>
        </section>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h5 class="box-title">
                            <label class="text-success">
                                <i class="text-success fa fa-heartbeat"></i>
                                @SessionPersister.AccountSession.Nombre
                            </label>
                        </h5>
                    </div>
                    <div class="box-body">
                        <div class="form-inline">
                            <div class="form-group">
                                <label class="text-muted">Actividad Desempeñada:</label>
                                @Html.TextBoxFor(model => model.StrActividadDesempeniada, new { @class = "form-control input-sm", placeholder = "Nombre de la Actividad Desempeñada",
                               pattern = "[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}", required = "required", title = "Ingresa la Actividad Desempeñada",id="Actividad" })
                                <label class="text-muted">Periodo Inicial de Entrega:</label>
                                @Html.TextBoxFor(model => model.DteFechaInicioPremio, new { @class = "form-control input-sm", type = "date", required = "required", title = "Selecciona la Fecha de Inicio" })
                                <label class="text-muted">Periodo Final de Entrega</label>
                                @Html.TextBoxFor(model => model.DteFechaFinPremio, new { @class = "form-control input-sm", type = "date", required = "required", title = "Selecciona la Fecha Final de Entrega" })
                            </div>
                            <br />
                            <br />
                            <div class="form-group">
                                <label class="text-muted">Nombre del Premio:</label>
                                @Html.TextBoxFor(model => model.StrNombrePremio, new { @class = "form-control input-sm", required = "required", placeholder = "Nombre del Premio", title = "Escribe el Nombre del Premio", pattern = "[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}", id = "Premio" })
                                <label class="text-muted">Nombre de la Institución:</label>
                                @Html.TextBoxFor(model => model.StrInstitucion, new { @class = "form-control input-sm", placeholder = "Institución", title = "Escribe el Nombre de la Institución", required = "", pattern = "[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}", id = "Institucion" })
                                <label class="text-muted">Año de Entrega del Premio:</label>
                                @Html.TextBoxFor(model => model.DteFechaObtencionPremio, new { @class = "form-control input-sm", type = "date", required = "required", title = "Fecha de Entrega del Premio" })
                            </div>
                            <div class="form-group">
                                <label class="text-muted">Evidencia Documental</label>
                                @Html.TextBoxFor(model => model.DocumentosVM.DocumentoFile, new { @class = "btn btn-sm btn-social btn-linkedin", @type = "file", id = "documentoInputFile" })
                                @Html.ValidationMessageFor(model => model.DocumentosVM.DocumentoFile, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <br />
                                <label class="text-muted" style="display:none;">Acción</label>
                                <input type="submit" class="btn btn-block  btn-sm btn-success" value="Guardar" title="Guarda los datos" id="btnGuardar" />
                            </div>
                        </div>
                        <!--inicio y configuración de la tabla-->
                        <div class="form-inline">
                            <div class="form-group">
                                <!-- Agregamos la tabla de forma dinamica  style="display:none" -->
                                <div class="form-group" id="addTable">
                                    <br />
                                    <table id="tblPremiosDocente" border="1" style="width: 100%; border:solid 1px #428BCA; border-collapse: collapse;" class="table table-hover">
                                        <thead class="table table table-condensed table-bordered table-responsive table-hover" style="color:white; background-color:#428BCA; font-size:10px;">
                                            <tr>

                                                <th>Actividad Desempeñada</th>
                                                <th>Nombre de la Institución</th>
                                                <th>Nombre del Premio</th>
                                                <th>Fecha de Obtención</th>
                                                <th>Fecha Inicio</th>
                                                <th>Fecha de Fin</th>
                                                <th>Eliminar</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblBody"></tbody>
                                    </table>
                                    <!-- Establecemos el Modal que se va a presentar cuando demos click en la edicion de los datos-->
                                    <div class="modal fade" id="myModal1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header" style="background-color:#3C8DBC;color:white;">
                                                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                                                    <h5 class="modal-title"><label style="font-size:medium;">Eliminar Premio del Docente</label></h5>
                                                </div>
                                                <div class="modal-body" id="myModalBodyDiv1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="hiddenPremioDocenteId" />
                                    <!--Terminamos el modal de eliminacion-->
                                    <!--Terminacion de la tabla -->
                                </div>
                            </div>
                        </div>
                        <!--fin de la tabla-->
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/Validate/Premios/validate-premios-form.js"></script>
<script src="~/Scripts/Validate/Premios/validate-premios-regExp.js"></script>
<script src="~/Scripts/Validate/PremiosDocente/validate-premios-docente-upload.js"></script>
@section Scripts
{
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw=" crossorigin="anonymous"></script>
    <script src="~/Content/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script>

        var AddDelete = function (IdDocumento) {

            var url = "/PremiosDocente/GetPremiosByIdPersonal?IdDocumento=" + IdDocumento;

            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");

            })

        };

        $(document).ready(function () {

            var oTable;

            BindDataTable();

            function BindDataTable() {

                if ($.fn.DataTable.isDataTable('#tblPremiosDocente')) {
                    oTable.Draw();
                }
                else {
                    oTable = $('#tblPremiosDocente').DataTable({
                        "bServerSide": true,
                        "sAjaxSource": '/PremiosDocente/GetDatosFamiliaresTable',
                        "fnServerData": function (sSource, aoData, fnCallback) {
                            $.ajax({
                                type: "Get",
                                data: aoData,
                                url: sSource,
                                success: fnCallback
                            })
                        },
                        "pageLength": 5,
                        "language": {

                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        },
                        "dataSrc": "",
                        "columns": [


                            { "data": "StrActividadDesempeniada" },

                            { "data": "StrInstitucion" },
                            { "data": "StrNombrePremio" },
                            { "data": "DteFechaObtencionPremio" },


                            { "data": "DteFechaInicioPremio" },
                            { "data": "DteFechaFinPremio" },

                            {
                                "data": "IdDocumento",
                                "render": function (IdDocumento, type, full, meta) {

                                    return '<a href="#" onclick="AddDelete(' + IdDocumento + ')"><i class="btn btn-sm btn-google glyphicon glyphicon-trash"></i></a>'
                                }
                            },
                        ]
                    });
                }
            };
        });
    </script>
}