@model AppDigitalCv.ViewModels.AlergiasVM
@using AppDigitalCv.Security

    <div>
        
        <form id="myFormulario">
            @Html.HiddenFor(m => m.IdAlergia, new { @class = "form-control input-sm", id = "IdAlergia" })
            @Html.HiddenFor(m => m.IdtipoAlergia)
            @Html.HiddenFor(m => m.StrDescripcion)
            @Html.HiddenFor(m => m.StrObservacion)
            <div class="form-inline">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-3">
                            <img alt="user Pic" src="~/Imagenes/escudo_uttt.jpg" id="profile-image1" class="product-img img-responsive" width="100" height="70" />
                        </div>
                        <div class="col-lg-3">
                            ¿Deseas <strong>Eliminar</strong> este registro realmente?
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.StrDescripcion, new { @class = "form-control input-sm", @placeholder = "Nombre de la Alergia", @disabled = "disabled" })

                            <a href="#" id="btnSubmit">
                                <i class="btn btn-sm btn-google glyphicon glyphicon-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <script>
        $(document).ready(function () {

            $("#btnSubmit").click(function () {
                
            $("#loaderDiv").show();

                 var myformdat = $("#myFormulario").serialize();
                 debugger;
            $.ajax({

                type: "POST",
                url: "/Alergias/DeleteAlergiaById",
                data: myformdat,
                success: function () {
                    $("#loaderDiv").hide();
                    $("#myModal").modal("hide");
                    window.location.href = "/Alergias/Create";

                }

            })
        })

        })
    </script>


