@model AppDigitalCv.ViewModels.AlergiasVM
@using AppDigitalCv.Security

    <div>
        
        <form id="myFormulario">

            <div class="form-inline">
                <div class="form-group">
                    ¿Deseas <strong>Eliminar</strong> este registro realmente?
                </div>
                <div class="form-group">
                    @Html.HiddenFor(m => m.IdAlergia, new { @class = "form-control input-sm", id = "IdAlergia" })
                    @Html.HiddenFor(m => m.IdtipoAlergia)
                    @Html.HiddenFor(m => m.StrDescripcion)
                    @Html.HiddenFor(m => m.StrObservacion)

                    @Html.TextBoxFor(m => m.StrDescripcion, new { @class = "form-control input-sm", @placeholder = "Nombre de la Alergia" })

                    <a href="#" id="btnSubmit">
                        <i class="btn btn-sm btn-google glyphicon glyphicon-trash"></i>
                    </a>
                </div>
                <div class="form-group">
                    <div style="text-align:center;display:none" id="loaderDiv">
                        <img src="~/Imagenes/loading-blue.gif" width="150" />
                    </div>
                </div>
            </div>


        </form>
    </div>

    <script>
        $(document).ready(function () {

            $("#btnSubmit").click(function () {
                
            $("#loaderDiv").show();

                 var myformdat = $("#myFormulario").serialize();
                 debugger;
            $.ajax({

                type: "POST",
                url: "/Alergias/DeleteAlergiaById",
                data: myformdat,
                success: function () {
                    $("#loaderDiv").hide();
                    $("#myModal").modal("hide");
                    window.location.href = "/Alergias/Create";

                }

            })
        })

        })
    </script>


