@using AppDigitalCv.Security
@model  AppDigitalCv.ViewModels.AlergiasVM
@{
    ViewBag.Title = "Registrar una Alergia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "myForm", id = "myForm" }))
{
    @Html.AntiForgeryToken()
    <div class="bs-container content" style="min-height:960px;">
        <section class="content-header">
            <h1>
                Alergias
                <small>(Agregar)</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"> <i class="fa fa-dashboard"></i> Inicio </a></li>
                <li> <a href="#">Agregar</a></li>
                <li class="active">Alergias</li>
            </ol>
        </section>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h5 class="box-title">
                            <label class="text-success">
                                <i class="text-success fa fa-heartbeat"></i>
                                @SessionPersister.AccountSession.Nombre
                            </label>
                        </h5>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-inline">
                            <div class="form-group">
                                Padece Alguna(s) Alergia(s)?
                                <input type="radio" id="rdbSi" name="seleccion" value="SI " class="custom-control-input"><label for="si">SI</label>
                                <input type="radio" id="rdbNo" name="seleccion" value="NO" class="custom-control-input" checked><label for="no">NO</label>

                            </div>
                            <br />
                            <div class="form-group">
                                <label id="TituloAlergias" class="text-muted">Alimentos (Mariscos, Carnes Frías, Lacteos, etc.):</label>
                                @Html.DropDownList("Alimentos", null, htmlAttributes: new { @class = "form-control", id = "Alimentos", title = "Selecciona una Alergia" })

                                <label id="TituloAlergenos" class="text-muted">Alergenos (Polvo, Polen, Animales, etc.):</label>
                                @Html.DropDownList("Alergenos", null, htmlAttributes: new { @class = "form-control input-sm", id = "Alergenos", title = "Seleccione un Alergeno" })
                                <br />
                                <label id="TituloMedicamentos" class="text-muted">Medicamentos:</label>
                                @Html.DropDownList("Medicamentos", null, htmlAttributes: new { @class = "form-control input-sm", id = "Medicamentos", title = "Seleccione un Medicamento" })
                            </div>
                            <br />
                            <br />
                            <input type="submit" id="btnGuardar" value="Guardar" class="btn btn-success" />
                        </div>

                        <div class="form-group-sm">
                            <!-- Agregamos la tabla de forma dinamica  style="display:none" -->
                            <div class="form-group" id="addTable">
                                <br />
                                <table id="tblAlergias" border="1" style="width: 100%; border:solid 1px #428BCA; border-collapse: collapse;" class="table table-hover">
                                    <thead class="table table table-condensed table-bordered table-responsive table-hover" style="color:white; background-color:#428BCA; font-size:10px;">
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Eliminar</th>

                                        </tr>
                                    </thead>
                                    <tbody id="tblBody"></tbody>
                                </table>
                                <!-- Establecemos el Modal que se va a presentar cuando demos click en la edicion de los datos-->
                                <div class="modal fade" id="myModal1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header" style="background-color:#3C8DBC;color:white;">
                                                <a href="#" class="close" data-dismiss="modal">&times;</a>
                                                <h5 class="modal-title"><label style="font-size:medium;">Alergias</label></h5>
                                            </div>
                                            <div class="modal-body" id="myModalBodyDiv1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" id="hiddenAlergiaId" />
                                <!--Terminamos el modal de eliminacion-->
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>



}

<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/toastr.min.css" rel="stylesheet" />
@section scripts{
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"
            integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw="
            crossorigin="anonymous"></script>
    <script src="~/Content/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/Validate/Alergias/validate-alergias-form.js"></script>


    <script>

        var AddEliminar = function (IdAlergia) {

            var url = "/Alergias/GetAlegiaById?IdAlergia=" + IdAlergia;

            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");

            })

        };

        $(document).ready(function () {

            var oTable;

            BindDataTable();

            function BindDataTable() {

                if ($.fn.DataTable.isDataTable('#tblAlergias')) {
                    oTable.Draw();
                }
                else {
                    oTable = $('#tblAlergias').DataTable({

                        "bServerSide": true,
                        "sAjaxSource": '/Alergias/GetAlergias',
                        "fnServerData": function (sSource, aoData, fnCallback) {
                            $.ajax({
                                type: "Get",
                                data: aoData,
                                url: sSource,
                                success: fnCallback
                            })
                        },
                        "pageLength": 5,
                        "paging": true,
                        "language": {

                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        },
                        "dataSrc": "",
                        "columns": [

                            { "data": "StrDescripcion" },

                            {
                                "data": "IdAlergia",
                                "render": function (IdAlergia, type, full, meta) {

                                    return '<a href="#" onclick="AddEliminar(' + IdAlergia + ')"><i class="btn btn-sm btn-google glyphicon glyphicon-trash"></i></a>'
                                }
                            },
                        ]
                    });
                }
            }


        });

    </script>
}