@model AppDigitalCv.ViewModels.EstadoCivilVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "EstadoCivil"))
{
    @Html.AntiForgeryToken()

    <div class="bs-container content" style="min-height:960px;">
        <section class="content-header">
            <h1>
                Agregar Estado Civil
                <small>(Agregar)</small>
            </h1>
            <a href="~/Views/EstadoCivil/Create.cshtml">~/Views/EstadoCivil/Create.cshtml</a>
            <ol class="breadcrumb">
                <li><a href="#"> <i class="fa fa-dashboard"></i> Inicio </a></li>
                <li> <a href="#"> Datos</a></li>
                <li class="active"> Datos de Estado Civil y Genero </li>
            </ol>
        </section>
        <br />
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h5 class="box-title">
                            <label class="text-yellow"><i class="text-yellow fa fa-child"></i> Erik Guerrero Bravo </label>
                        </h5>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="">
                        <div role="form">
                            <div class="form-group">
                                <div class="form-group ">
                                    <!-- Aqui se llenanel drop down list de estado civil -->
                                    <label>Estado Civil:</label>
                                    @Html.DropDownList("EstadoCivil", null, htmlAttributes: new { @class = "form-control input-sm", id = "EstadoCivil" })
                                    @Html.ValidationMessageFor(model => model.IdEstadoCivil, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group " id="radios">
                                    <label>Genero: </label>
                                    <br />
                                    Femenino: @Html.RadioButtonFor(model => model.Genero, "Femenino", new { id = "sexo", required = "" })
                                    Masculino: @Html.RadioButtonFor(model => model.Genero, "Masculino", new { id = "sexo", required = "" })
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Guardar" class="btn btn-warning" id="btnGuardar" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div>
                            <!-- falta funcionalidad del boton -->
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/Validate/EstadoCivil/validate-estado-civil-radio.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />