@model AppDigitalCv.ViewModels.LibroVM
@using AppDigitalCv.Security

<div>
    <form id="myForm" enctype="multipart/form-data">

        @Html.HiddenFor(model => model.id, new { id = "id" })

        <div class="bs-container">

            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                <img alt="user Pic" src="~/Imagenes/escudo_uttt.jpg" id="profile-image1" class="product-img img-responsive" width="100" height="70" />
            </div>
            <div class="row">
                <div class="form-group col-lg-7">
                    @Html.Label("Datos del Libro")
                    <hr />
                    <label>Autor(es)</label>
                    @Html.TextBoxFor(model => model.strAutores, new { @class = "form-control input-sm",id="txtAutores"})
                <label>Titulo del Libro</label>
                    @Html.TextBoxFor(model => model.strTituloLibro, new  { @class = "form-control input-sm",id="txtTitulo"})
                <label>Editorial</label>
                    @Html.TextBoxFor(model => model.strEditorial, new { @class = "form-control input-sm",id="txtEditorial" })
                <label>Edición</label>
                    @Html.TextBoxFor(model => model.strEdicion, new { @class ="form-control input-sm",id="txtEdicion"})
                <label>Tiraje</label>
                    @Html.TextBoxFor(model => model.strTiraje, new { @class = "form-control input-sm",id="txtTiraje"})
                <label>ISBN</label>
                    @Html.TextBoxFor(model => model.strISBM, new { @class ="form-control input-sm",id="txtISBM"})
                </div>

                <div class="row">
                    <div class="form-group col-lg-6 col-lg-offset-4">
                        <a href="#" id="btnSubmit" class="btn btn-sm btn-success"><span><i class="fa fa-edit"></i> Actualizar</span></a>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            let autores = $('#txtAutores').val();
            let tituloLibro = $('#txtTitulo').val();
            let editorial = $('#txtEditorial').val();
            let edicion = $('#txtEdicion').val();
            let tiraje = $('#txtTiraje').val();
            let isbm = $('#txtISBM').val();


            if (autores != "" && tituloLibro != "" && editorial != "" && edicion != "" && tiraje != "" && isbm != "") {

                var LibroVM = {};
                var IdPersonal = @SessionPersister.AccountSession.IdPersonal;

                LibroVM.id = $('#id').val();
                LibroVM.strAutores = $('#txtAutores').val();
                LibroVM.strTituloLibro = $('#txtTitulo').val();
                LibroVM.strEditorial = $('#txtEditorial').val();
                LibroVM.strEdicion = $('#txtEdicion').val();
                LibroVM.strTiraje = $('#txtTiraje').val();
                LibroVM.strISBM = $('#txtISBM').val();

                $.ajax({
                    type: "POST",
                    url: "/Libro/UpdateLibro",
                    data: { libroVM: LibroVM },
                    success: function () {
                        $("#myModal1").modal("hide");
                        window.location.href = "/Libro/Create";
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert(textStatus);
                        console.log(textStatus);

                    }
                })

            } else
            {
                toastr.warning('No Puedes Dejar Campos Vacios', 'Digital-Cv dice', { timeOut: 1000, closeButton: true });
            }

            
        });
    });
</script>



