@model AppDigitalCv.ViewModels.TutoriasVM
@using AppDigitalCv.Security

<div>
    <form id="myForm" enctype="multipart/form-data">

        @Html.HiddenFor(model => model.id, new { id = "id" })

        <div class="bs-container">

            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                <img alt="user Pic" src="~/Imagenes/escudo_uttt.jpg" id="profile-image1" class="product-img img-responsive" width="100" height="70" />
            </div>
            <div class="row">
                <div class="form-group col-lg-7">
                    @Html.Label("Datos del Prototipo")
                    <hr />
                    <label>Numero de Estudiantes</label>
                    @Html.TextBoxFor(model => model.strNumeroEstudiantes,new { @class="form-control input-sm",id="NumeroEstudiantes"})
                <label>Nombre de Estudiantes</label>
                    @Html.TextBoxFor(model => model.strNombreEstudantes,new { @class="form-control input-sm",id="NombreEstudiante"})
                </div>
                <div class="row">
                    <div class="form-group col-lg-6 col-lg-offset-4">
                        <a href="#" id="btnSubmit" class="btn btn-sm btn-success"><span><i class="fa fa-edit"></i> Actualizar</span></a>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

<script>

    $(document).ready(function () {

        $('#NumeroEstudiantes').keypress(function (e) {
             let data = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            let regExp = new RegExp("^[0-9 ]+$");

            if (!regExp.test(data))
            {
                e.preventDefault();
                toastr.warning('Solo se Permiten Numeros', 'Digital-Cv dice', { timeOut: 1000, closeButton: true });
            }
        });

        $('#NombreEstudiante').keypress(function (e) {

            let data = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            let regExp = new RegExp("^[a-záéíóúñA-ZÁÉÍÓÚÑ,. ]+$");

            if (!regExp.test(data)) {
                e.preventDefault();
                toastr.warning('Solo se Permiten Cadenas de Texto', 'Digital-Cv dice', { timeOut: 1000, closeButton: true });
            }

        });

        $("#btnSubmit").click(function () {

            let numeroEstudiantes = $('#NumeroEstudiantes').val();
            let nombreEstudiantes = $('#NombreEstudiante').val();
        
            if (numeroEstudiantes != "" && nombreEstudiantes != "") {
                var TutoriasVM = {};
                var IdPersonal = @SessionPersister.AccountSession.IdPersonal;

                TutoriasVM.id = $('#id').val();
                TutoriasVM.strNumeroEstudiantes = $('#NumeroEstudiantes').val();
                TutoriasVM.strNombreEstudantes = $('#NombreEstudiante').val();

                $.ajax({
                    type: "POST",
                    url: "/Tutorias/UpdateTutoria",
                    data: { tutoriasVM: TutoriasVM },
                    success: function () {
                        $("#myModal1").modal("hide");
                        window.location.href = "/Tutorias/Create";
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert(textStatus);
                        console.log(textStatus);

                    }
                })
            } else
            {
                toastr.warning('No Puedes Dejar Campos Vacios', 'Digital-Cv dice', { timeOut: 1000, closeButton:true });
            }

           
        });
    });
</script>






