@model AppDigitalCv.ViewModels.TutoriasVM
@using AppDigitalCv.Security

<div>
    <form id="myForm" enctype="multipart/form-data">

        @Html.HiddenFor(model => model.id, new { id = "id" })


            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                <img alt="user Pic" src="~/Imagenes/escudo_uttt.jpg" id="profile-image1" class="product-img img-responsive" width="100" height="70" />
            </div>
            <div class="row">
                <div class="form-group col-lg-7">
                    <div class="form-group">
                        <label>Programa Educativo: </label>
                        @Html.DropDownListFor(model => model.idProgramaEductivo, null, new { @class = "form-control input-sm", id = "ProgramaEducativo" })
                    </div>
                    <div class="form-group">
                        <label>Nombre del Estudiante: </label>
                        @Html.TextBoxFor(model => model.strNombreEstudantes, new { @class = "form-control input-sm", id = "NombreEstudiante" })
                    </div>
                    <div class="form-group">
                        <label>Tipo: </label>
                        @Html.DropDownListFor(model => model.strTipo, null, new { @class = "form-control input-sm", id = "Tipo" })
                    </div>
                    <div class="form-group">
                        <label>Horas: </label>
                        @Html.TextBoxFor(model => model.strHoras, new { @class = "form-control input-sm", id = "Horas" })
                    </div>
                    <div class="form-group">
                        <label>Estado de la Tutoria: </label>
                        @Html.DropDownListFor(model => model.strEstadoTutoria, null, new { @class = "form-control input-sm", id = "EstadoTutoria" })
                    </div>
                    <div class="form-group">
                        <a href="#" id="btnSubmit" class="btn btn-sm btn-success"><span><i class=""></i>Actualizar</span></a>
                    </div>                   
                </div>
        </div>
    </form>

</div>

<script>

     $("#NombreEstudiante").bind('keypress', function (e) {
        var regex = new RegExp("^[a-záéíóúñA-ZÁÉÍÓÚÑ, ]+$");
        var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (!regex.test(key)) {
            toastr.warning("Solo se Admiten Cadenas de Texto.", "Digital-Cv dice", { timeOut: 1000, closeButton: true });
            e.preventDefault();
            return false;
        }
    });

    $("#Horas").bind('keypress', function (e) {
        var regex = new RegExp("^[0-9 ]+$");
        var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (!regex.test(key)) {
            toastr.warning("Solo se Admiten Caracteres Numericos.", "Digital-Cv dice", { timeOut: 1000, closeButton: true });
            e.preventDefault();
            return false;
        }
    });

    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            let ddlProgramaEducativo = $('#ProgramaEducativo').val();
            let txtNombreEstudiante = $('#NombreEstudiante').val();
            let ddlTipo = $('#Tipo').get(0).selectedIndex;
            let txtHoras = $('#Horas').val();
            let ddlEstadoTutoria = $('#EstadoTutoria').get(0).selectedIndex;

            if (ddlProgramaEducativo > 0 && txtNombreEstudiante != "" && ddlTipo > 0 && txtHoras != "" && ddlEstadoTutoria > 0) {
                var TutoriasVM = {};
                var IdPersonal = @SessionPersister.AccountSession.IdPersonal;

                TutoriasVM.id = $('#id').val();
                TutoriasVM.strNombreEstudantes = txtNombreEstudiante;
                TutoriasVM.idProgramaEductivo = ddlProgramaEducativo;
                TutoriasVM.strEstadoTutoria = $('#EstadoTutoria').val();
                TutoriasVM.strTipo = $('#Tipo').val();
                TutoriasVM.strHoras = txtHoras;
                $.ajax({
                    type: "POST",
                    url: "/Tutorias/UpdateTutoria",
                    data: { tutoriasVM: TutoriasVM },
                    success: function () {
                        $("#myModal1").modal("hide");
                        window.location.href = "/Tutorias/Create";
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert(textStatus);
                        console.log(textStatus);

                    }
                })
            } else
            {
                toastr.warning('No Puedes Dejar Campos Vacios', 'Digital-Cv dice', { timeOut: 1000, closeButton:true });
            }

           
        });
    });
</script>






