@model AppDigitalCv.ViewModels.ProductividadInnovadoraVM
@using AppDigitalCv.Security

<div>
    <form id="myForm" enctype="multipart/form-data">

        @Html.HiddenFor(model => model.id, new { id = "id" })

        <div class="bs-container">

            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                <img alt="user Pic" src="~/Imagenes/escudo_uttt.jpg" id="profile-image1" class="product-img img-responsive" width="100" height="70" />
            </div>
            <div class="row">
                <div class="form-group col-lg-7">
                    <div class="form-group">
                        <label>Autor(es)</label>
                        @Html.TextBoxFor(model => model.strAutor, new { @class = "form-control input-sm", id = "txtAutores" })
                    </div>
                    <div class="form-group">
                        <label>Titulo</label>
                        @Html.TextBoxFor(model => model.strTitulo, new { @class = "form-control input-sm", id = "txtTitulo" })
                    </div>
                    <div class="form-group">
                        <label>Descripción</label>
                        @Html.TextBoxFor(model => model.strDescripcion, new { @class = "form-control input-sm", id = "txtDescripcion" })
                    </div>
                    <div class="form-group">
                        <label>Numero de Registro</label>
                        @Html.TextBoxFor(model => model.strNumeroRegistro, new { @class = "form-control input-sm", id = "txtNumeroRegistro" })
                    </div>                                                                          
                    <div class="form-group">
                        <a href="#" id="btnSubmit" class="btn btn-sm btn-success"><span><i class=""></i>Actualizar</span></a>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

<script>

     $("#txtAutores").bind('keypress', function (e) {
        var regex = new RegExp("^[a-záéíóúñA-ZÁÉÍÓÚÑ, ]+$");
        var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (!regex.test(key)) {
            toastr.warning("Solo se Admiten Cadenas de Texto.", "Digital-Cv dice", { timeOut: 1000, closeButton: true });
            e.preventDefault();
            return false;
        }
     });
     $("#txtTitulo").bind('keypress', function (e) {
        var regex = new RegExp("^[a-záéíóúñA-ZÁÉÍÓÚÑ, ]+$");
        var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (!regex.test(key)) {
            toastr.warning("Solo se Admiten Cadenas de Texto.", "Digital-Cv dice", { timeOut: 1000, closeButton: true });
            e.preventDefault();
            return false;
        }
     });
     $("#txtDescripcion").bind('keypress', function (e) {
        var regex = new RegExp("^[a-záéíóúñA-ZÁÉÍÓÚÑ, ]+$");
        var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (!regex.test(key)) {
            toastr.warning("Solo se Admiten Cadenas de Texto.", "Digital-Cv dice", { timeOut: 1000, closeButton: true });
            e.preventDefault();
            return false;
        }
     });
     $("#txtNumeroRegistro").bind('keypress', function (e) {
        var regex = new RegExp("^[0-9., ]+$");
        var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (!regex.test(key)) {
            toastr.warning("Solo se Admiten Cadenas de Texto.", "Digital-Cv dice", { timeOut: 1000, closeButton: true });
            e.preventDefault();
            return false;
        }
    });

    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            let autores = $('#txtAutores').val();
            let titulo = $('#txtTitulo').val();
            let descripcion = $('#txtDescripcion').val();
            let uso = $('#txtUso').val();
            let numeroRegistro = $('#txtNumeroRegistro').val();
            let usuario = $('#txtUsuario').val();

            if (autores != "" && titulo != "" && descripcion != "" && uso != "" && numeroRegistro != "" && usuario != "") {

                var ProductividadInnovadoraVM = {};
                var IdPersonal = @SessionPersister.AccountSession.IdPersonal;

                ProductividadInnovadoraVM.id = $('#id').val();
                ProductividadInnovadoraVM.strAutor = $('#txtAutores').val();
                ProductividadInnovadoraVM.strTitulo = $('#txtTitulo').val();
                ProductividadInnovadoraVM.strDescripcion = $('#txtDescripcion').val();
                ProductividadInnovadoraVM.strUso = $('#txtUso').val();
                ProductividadInnovadoraVM.strNumeroRegistro = $('#txtNumeroRegistro').val();
                ProductividadInnovadoraVM.strUsuario = $('#txtUsuario').val();

                $.ajax({
                    type: "POST",
                    url: "/ProductividadInnovadora/UpdateProductividad",
                    data: { productividadInnovadoraVM: ProductividadInnovadoraVM },
                    success: function () {
                        $("#myModal1").modal("hide");
                        window.location.href = "/ProductividadInnovadora/Create";
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert(textStatus);
                        console.log(textStatus);

                    }
                });

            } else
            {
                toastr.warning('No Puedes Dejar Campos Vacios', 'Digital-Cv dice', { timeOut: 1000, closeButton: true });
            }

          
        });
    });
</script>




