@model AppDigitalCv.ViewModels.EstadoSaludVM
@using AppDigitalCv.Security

<div>
    <form id="myForm">

        <div class="form-inline">
            @Html.HiddenFor(m => m.IdEnfermedad, new { @class = "form-control input-sm", id = "IdEnfermedad" })
            @Html.HiddenFor(m => m.idEnfermedadPersonal, new { @class = "form-control input-sm", id = "idEnfermedadPersonal" })
            @Html.HiddenFor(m => m.IdPersonal, new { @class = "form-control input-sm", id = "IdPersonal" })
            @Html.HiddenFor(m => m.NombreEnfermedad, new { @class = "form-control input-sm", id = "NombreEnfermedad" })
            <div class="form-inline">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-3">
                            <img alt="user Pic" src="~/Imagenes/escudo_uttt.jpg" id="profile-image1" class="product-img img-responsive" width="100" height="70" />
                        </div>
                        <div class="col-lg-3">
                            ¿Deseas <strong>Eliminar</strong> este registro realmente?
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.NombreEnfermedad, new { @class = "form-control input-sm", @placeholder = "Nombre de la Enfermedad", @disabled = "disabled" })

                            <a href="#" id="btnSubmit">
                                <i class="btn btn-sm btn-google glyphicon glyphicon-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


</form>
    
</div>

<script>

    $(document).ready(function () {
        

        $("#btnSubmit").click(function () {
            $("#loaderDiv").show();
            var estadoSaludVM = {};
            var idPersonal =  @SessionPersister.AccountSession.IdPersonal;
            estadoSaludVM.IdEnfermedad = $('#IdEnfermedad').val();
            estadoSaludVM.IdPersonal = idPersonal;
            var myformdata = $("#myForm").serialize();
            $.ajax({
                type: "POST",
                url: '/EstadoSalud/EliminarEstadoSalud/',
                data: { estadoSaludVM: estadoSaludVM },
                success: function () {
                    $("#loaderDiv").hide();
                    $("#myModal").modal("hide");
                    window.location.href = "/EstadoSalud/Create";
                },
                error: function (err) {
                    
                    alert("Error en la invocacion del formulario" + err.responseJSON);

                }
            })
        })
       
    });


</script>