@using AppDigitalCv.Security
@model  AppDigitalCv.ViewModels.InstitucionSuperiorVM

@{
    /**/

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "myForm", id = "myForm" }))
{
    @Html.AntiForgeryToken()
    <div class="bs-container" style="min-height:960px;">
        <section class="content-header">
            <h1>
                Institución Superior
                <small>(Agregar)</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"> <i class="fa fa-dashboard"></i> Inicio </a></li>
                <li> <a href="#">Institución</a></li>
                <li class="active"> Superior </li>
            </ol>
        </section>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h5 class="box-title">
                            <label class="text-success emailtitleletter">
                                <i class="text-success fa fa-graduation-cap"></i>
                                @SessionPersister.AccountSession.NombreCompleto
                            </label>&nbsp;

                        </h5>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>Institución Superior:&nbsp;&nbsp;</label>
                                    @Html.TextBoxFor(model => model.StrDescripcion, new { @class = "form-control input-sm", placeholder = "Agrega una Institución Superior", id = "StrDescripcion", required = "", patern = "^[a-záéíóúñA-ZÁÉÍÓÚÑ ]+$" })
                                    @Html.ValidationMessageFor(model => model.StrDescripcion, "", new { @class = "text-danger" })
                                    <label>Observación</label>
                                    @Html.TextBoxFor(model => model.StrObservacion, new { @class = "form-control input-sm", placeholder = "Agrega descripción de la Institución Superior", id = "StrObservacion", patern = "^[a-záéíóúñA-ZÁÉÍÓÚÑ ]+$" })
                                    @Html.ValidationMessageFor(model => model.StrObservacion, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Guardar" class="btn btn-success" id="btnEnviar" />
                                    <a href="@Url.Action("Create","Cursos")" class="btn btn-info">Regresar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts
{
    <script src="~/Scripts/Validate/Institucion/validate-institucion-create.js"></script>
    <script src="~/Scripts/Validate/Institucion/validate-institucion.js"></script>
}