@model AppDigitalCv.ViewModels.InformeTecnicoVM
@using AppDigitalCv.Security

<div>
    <form id="myForm" enctype="multipart/form-data">

        @Html.HiddenFor(model => model.id, new { id = "id" })

        <div class="bs-container">

            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                <img alt="user Pic" src="~/Imagenes/escudo_uttt.jpg" id="profile-image1" class="product-img img-responsive" width="100" height="70" />
            </div>
            <div class="row">
                <div class="form-group col-lg-7">
                    <div class="form-group">
                        <label>Autor</label>
                        @Html.TextBoxFor(model => model.strAutor, new { @class = "form-control input-sm", id = "txtAutor" })
                    </div>
                    <div class="form-group">
                        <label>Nombre del Proyecto</label>
                        @Html.TextBoxFor(model => model.strNombreProyecto, new { @class = "form-control input-sm", id = "txtNombreProyecto" })
                    </div>
                    <div class="form-group">
                        <label>Alcance</label>
                        @Html.TextBoxFor(model => model.strAlcance, new { @class = "form-control input-sm", id = "txtAlcance" })
                    </div>
                    <div class="form-group">
                        <label>Intitución Beneficiaria</label>
                        @Html.TextBoxFor(model => model.strInstitucionBeneficiaria, new { @class = "form-control input-sm", id = "txtInstitucionBeneficiaria" })
                    </div>    
                    <div class="form-group">
                        <a href="#" id="btnEnviar" class="btn btn-sm btn-success"><span><i class=""></i>Actualizar</span></a>
                    </div>
                </div>
               
            </div>
        </div>
    </form>

</div>



<script>

    $(document).ready(function () {

        $("#btnEnviar").click(function () {

            let autor = $('#txtAutor').val();
            let nombreProyecto = $('#txtNombreProyecto').val();
            let alcance = $('#txtAlcance').val();
            let institucion = $('#txtInstitucionBeneficiaria').val();
              
            if (autor != "" && nombreProyecto != "" && alcance != "" && institucion != "") {
                var InformeTecnicoVM = {};
                var IdPersonal = @SessionPersister.AccountSession.IdPersonal;

                InformeTecnicoVM.id = $('#id').val();
                InformeTecnicoVM.strAutor = $('#txtAutor').val();
                InformeTecnicoVM.strNombreProyecto = $('#txtNombreProyecto').val();
                InformeTecnicoVM.strAlcance = $('#txtAlcance').val();
                InformeTecnicoVM.strInstitucionBeneficiaria = $('#txtInstitucionBeneficiaria').val();
         
                $.ajax({
                    type: "POST",
                    url: "/InformeTecnico/UpdateInformeTecnico",
                    data: { informeTecnicoVM: InformeTecnicoVM },
                    success: function () {
                        $("#myModal1").modal("hide");
                        window.location.href = "/InformeTecnico/Create";
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert(textStatus);
                        console.log(textStatus);

                    }
                })
            } else
            {
                toastr.warning('No Puedes Dejar Campos Vacios', 'Digital-Cv dice', { timeOut: 1000, closeButton: true });
            }
           
        });
    });
</script>



