@using AppDigitalCv.Security
@model AppDigitalCv.ViewModels.IdiomaDialectoVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="bs-container content" style="min-height:960px;">
        <section class="content-header">
            <h1>
                Agregar Idiomas
                <small> Agregar Idioma</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"> <i class="fa fa-dashboard"></i>Inicio</a></li>
                <li> <a href="#">Datos</a></li>
                <li class="active"> Datos de Idiomas</li>
            </ol>
        </section>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-success">
                    <div class="box-header">
                        <label class="text-green"><i class="text-gray fa fa-child"></i> @SessionPersister.AccountSession.NombreCompleto </label>
                    </div>
                    <div role="form">
                        <div class="box-body">
                            <!-- Aqui se llena el dropdownlist de idioma y sus procentajes -->
                            <div class="form-group col-lg-6">
                                <div class="form-group ">
                                    <label>Idioma</label>
                                    @Html.DropDownList("IdIdioma", null, htmlAttributes: new { @class = "form-control input-sm", id = "IdIdioma" })
                                    @Html.ValidationMessageFor(model => model.IdIdioma, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <!-- Aqui se llena el dropdownloist de porcentaje de escritura -->
                            <div class="form-group  col-lg-6">
                                <div class="form-group ">
                                    <label>Escritura</label>
                                    @Html.DropDownList("StrEscrituraProcentaje", null, htmlAttributes: new { @class = "form-control input-sm", id = "StrEscrituraProcentaje" })
                                    @Html.ValidationMessageFor(model => model.StrEscrituraProcentaje, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <!-- Aqui se llena el dropdownList de porcentaje de lectura -->
                            <div class="form-group  col-lg-6">
                                <div class="form-group ">
                                    <label>Lectura</label>
                                    @Html.DropDownList("StrLecturaPorcentaje", null, htmlAttributes: new { @class = "form-control input-sm", id = "StrLecturaPorcentaje" })
                                    @Html.ValidationMessageFor(model => model.StrLecturaPorcentaje, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <!-- Aqui se llena el dropdownloist de porcentaje de entendimiento -->
                            <div class="form-group  col-lg-6">
                                <div class="form-group ">
                                    <label>Entendimiento</label>
                                    @Html.DropDownList("StrEntendimientoPorcentaje", null, htmlAttributes: new { @class = "form-control input-sm", id = "StrEntendimientoPorcentaje" })
                                    @Html.ValidationMessageFor(model => model.StrEntendimientoPorcentaje, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <!-- Aqui se llena el dropdownList de porcentaje de comunicacion -->
                            <div class="form-group  col-lg-6">
                                <div class="form-group ">
                                    <label>Comunicación</label>
                                    @Html.DropDownList("StrComunicacionPorcentaje", null, htmlAttributes: new { @class = "form-control input-sm", id = "StrComunicacionPorcentaje" })
                                    @Html.ValidationMessageFor(model => model.StrComunicacionPorcentaje, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-lg-6 btn-block">
                                <div class="form-group">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <input type="submit" value="Guardar" class="btn btn-success" id="btnSubmit" />
                                </div>
                            </div>
                            <div class="form-group-sm">
                                <!-- Agregamos la tabla de forma dinamica  style="display:none" -->
                                <div class="form-group" id="addTable">
                                    <br />
                                    <table id="tblIdiomas" border="1" style="width: 100%; border:solid 1px #428BCA; border-collapse: collapse;" class="table table-hover">
                                        <thead class="table table table-condensed table-bordered table-responsive table-hover" style="color:white; background-color:#428BCA; font-size:10px;">
                                            <tr>
                                                <th>Idioma</th>
                                                <th>Editar</th>
                                                <th>Eliminar</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblBody"></tbody>
                                    </table>
                                    <!-- Establecemos el Modal que se va a presentar cuando demos click en la edicion de los datos-->
                                    <div class="modal fade" id="myModal1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header" style="background-color:#3C8DBC;color:white;">
                                                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                                                    <h5 class="modal-title"><label style="font-size:medium;">Idiomas</label></h5>
                                                </div>
                                                <div class="modal-body" id="myModalBodyDiv1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="hiddenAlergiaId" />
                                    <!--Terminamos el modal de eliminacion-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/toastr.min.css" rel="stylesheet" />
@section scripts{
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"
            integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw="
            crossorigin="anonymous"></script>
    <script src="~/Content/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/Validate/IdiomasDialectos/validate-idiomas-dialectos-form.js"></script>


    <script>
        
        var AddEliminar = function (IdIdioma) {
            
            var url = "/IdiomaDialecto/GetIdiomaById?IdIdioma=" + IdIdioma;
            
            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");

            })

        };

        var AddEditar = function (idIdioma) {

            var url = "/IdiomaDialecto/GetIdiomaByIdEdit?idIdioma=" + idIdioma;

            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");

            })

        };

        $(document).ready(function () {

            var oTable;

            BindDataTable();

            function BindDataTable() {

                if ($.fn.DataTable.isDataTable('#tblIdiomas')) {
                    oTable.Draw();
                }
                else {
                    oTable = $('#tblIdiomas').DataTable({

                        "bServerSide": true,
                        "sAjaxSource": '/IdiomaDialecto/GetIdiomas',
                        "fnServerData": function (sSource, aoData, fnCallback) {
                            $.ajax({
                                type: "Get",
                                data: aoData,
                                url: sSource,
                                success: fnCallback
                            })
                        },
                        "pageLength": 5,
                        "paging": true,
                        "language": {

                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        },
                        "dataSrc": "",
                        "columns": [

                            { "data": "strDescripcion" },

                            {
                                "data": "idIdioma",
                                "render": function (idIdioma, type, full, meta) {

                                    return '<a href="#" onclick="AddEditar(' + idIdioma + ')"><i class="btn btn-sm btn-success fa fa-pencil-square-o"></i></a>'
                                }
                            },

                            {
                                "data": "idIdioma",
                                "render": function (IdIdioma, type, full, meta) {

                                    return '<a href="#" onclick="AddEliminar(' + IdIdioma + ')"><i class="btn btn-sm btn-google glyphicon glyphicon-trash"></i></a>'
                                }
                            },
                        ]
                    });
                }
            }


        });

    </script>
}