@using AppDigitalCv.Security
@model  AppDigitalCv.ViewModels.DocumentacionPersonalVM
@{
    ViewBag.Title = "Registrar Documentacion Adicional";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "myForm", id = "myForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="bs-container" style="min-height:960px;">
        <section class="content-header">
            <h1>
                Informacion Adicional
                <small>(Agregar)</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"> <i class="fa fa-dashboard"></i> Inicio </a></li>
                <li> <a href="#">Agregar</a></li>
                <li class="active">Informacion</li>
            </ol>
        </section>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h5 class="box-title">
                            <label class="text-success emailtitleletter">
                                <i class="text-success fa fa-heartbeat"></i>
                                @SessionPersister.AccountSession.NombreCompleto
                            </label>
                        </h5>

                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>Numero de Licencia de Manejo</label>
                                    @Html.TextBoxFor(model => model.NumeroLicenciaManejoVM.strNumeroDocumento, htmlAttributes: new { @placeholder = "Numero de Licencia de Manejo", id = "txtNoLicenciaManejo", @class = "form-control input-sm" })
                                </div>
                                <div class="form-group">
                                    <label>Numero de Pasaporte</label>
                                    @Html.TextBoxFor(model => model.NumeroPasaporteVM.strNumeroDocumento, htmlAttributes: new { @placeholder = "Numero de Pasaporte", id = "txtNoPasaporte", @class = "form-control input-sm" })
                                </div>
                                <div class="form-group">
                                    <label>Numero de Visa USA</label>
                                    @Html.TextBoxFor(model => model.NumeroVisaUsaVM.strNumeroDocumento, htmlAttributes: new { @placeholder = "Numero de Visa USA", id = "txtNumeroVisaUsa", @class = "form-control input-sm" })
                                </div>
                                <div class="form-group">
                                    <label>Numero de Visa Canada</label>
                                    @Html.TextBoxFor(model => model.NumeroVisaCanadaVM.strNumeroDocumento, htmlAttributes: new { @placeholder = "Numero de Visa Canada", id = "txtNumeroVisaCanada", @class = "form-control input-sm" })
                                </div>
                                <div class="form-group">
                                    <label>Numero de Seguridad Social</label>
                                    @Html.TextBoxFor(model => model.NumeroSeguridadSocialVM.strNumeroDocumento, htmlAttributes: new { @placeholder = "Numero de Seguridas Social", id = "txtNumeroSeguridadSocial", @class = "form-control input-sm" })
                                </div>
                                <div class="form-group">
                                    <label>Registro Prof. Estatal</label>
                                    @Html.TextBoxFor(model => model.RegistroProfEstatalVM.strNumeroDocumento, htmlAttributes: new { @placeholder = "Registro Prof. Estatal", @id = "txtRegistroEstatal", @class = "form-control input-sm" })
                                </div>
                                <div class="form-group">
                                    <label>Numero Cartilla del Servicio Militar</label>
                                    @Html.TextBoxFor(model => model.NumeroCartillaMilitarVM.strNumeroDocumento, htmlAttributes: new { @placeholder = "Numero de Cartilla del Servicio Militar", @id = "txtNumeroCartillaMilitar", @class = "form-control input-sm" })
                                </div>
                                <div class="form-group">
                                    <input type="submit" id="btnSubmit" value="Guardar" class="btn btn-success" />
                                </div>
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Vigencia Licencia de Manejo</label>
                                        @Html.TextBoxFor(model => model.NumeroLicenciaManejoVM.dteVigenciaDocumento, htmlAttributes: new { @id = "txtVigenciaLicenciaManejo", @class = "form-control input-sm", @type = "date" })
                                    </div>
                                    <div class="form-group">
                                        <label>Vigencia del Pasaporte</label>
                                        @Html.TextBoxFor(model => model.NumeroPasaporteVM.dteVigenciaDocumento, htmlAttributes: new { @id = "txtVigenciaPasaporte", @class = "form-control input-sm", @type = "date" })
                                    </div>
                                    <div class="form-group">
                                        <label>Vigencia de Visa de USA</label>
                                        @Html.TextBoxFor(model => model.NumeroVisaUsaVM.dteVigenciaDocumento, htmlAttributes: new { @id = "txtVigenciaVisaUsa", @class = "form-control input-sm", @type = "date" })
                                    </div>
                                    <div class="form-group">
                                        <label>Vigencia Visa de Canada</label>
                                        @Html.TextBoxFor(model => model.NumeroVisaCanadaVM.dteVigenciaDocumento, htmlAttributes: new { @id = "txtVigenciaVisaCanada", @class = "form-control input-sm", @type = "date" })
                                    </div>
                                    <div class="form-group">
                                        <label>Vigencia de Seguridad Social</label>
                                        @Html.TextBoxFor(model => model.NumeroSeguridadSocialVM.dteVigenciaDocumento, htmlAttributes: new { @id = "txtVigenciaSeguridadSocial", @class = "form-control input-sm", @type = "date" })
                                    </div>
                                    <div class="form-group">
                                        <label>Vigencia de Registro Estatal</label>
                                        @Html.TextBoxFor(model => model.RegistroProfEstatalVM.dteVigenciaDocumento, htmlAttributes: new { @id = "txtVigenciaProfEstatal", @class = "form-control input-sm", @type = "date" })
                                    </div>
                                    <div class="form-group">
                                        <br />
                                        <br />
                                        <br />
                                    </div>
                                    <div class="form-group">
                                        <label>IFE</label>
                                    </div>
                                    <div class="form-group">
                                        &nbsp;
                                    </div>
                                    <div class="form-group">
                                        <label>Comprobante de Domicilio</label>
                                    </div>
                                    <div class="form-group">
                                        &nbsp;
                                    </div>
                                    <div class="form-group">
                                        <label>Solicitud de Empleo</label>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Evidencia</label>
                                        @Html.TextBoxFor(model => model.NumeroLicenciaManejoVM.DocumentosVM.DocumentoFile, htmlAttributes: new { @id = "DocumentoFile", @class = "form-control input-sm", @type = "file" })
                                    </div>
                                    <div class="form-group">
                                        <label>Evidencia</label>
                                        @Html.TextBoxFor(model => model.NumeroPasaporteVM.DocumentosVM.DocumentoFile, htmlAttributes: new { @id = "inputUploadPasaporte", @class = "form-control input-sm", @type = "file" })
                                    </div>
                                    <div class="form-group">
                                        <label>Evidencia</label>
                                        @Html.TextBoxFor(model => model.NumeroVisaUsaVM.DocumentosVM.DocumentoFile, htmlAttributes: new { @id = "inputUploadVisaUsa", @class = "form-control input-sm", @type = "file" })
                                    </div>
                                    <div class="form-group">
                                        <label>Evidencia</label>
                                        @Html.TextBoxFor(model => model.NumeroVisaCanadaVM.DocumentosVM.DocumentoFile, htmlAttributes: new { @id = "inputUploadVisaCanada", @class = "form-control input-sm", @type = "file" })
                                    </div>
                                    <div class="form-group">
                                        <label>Evidencia</label>
                                        @Html.TextBoxFor(model => model.NumeroSeguridadSocialVM.DocumentosVM.DocumentoFile, htmlAttributes: new { @id = "inputUploadSeguridadSocial", @class = "form-control input-sm", @type = "file" })
                                    </div>
                                    <div class="form-group">
                                        <label>Evidencia</label>
                                        @Html.TextBoxFor(model => model.RegistroProfEstatalVM.DocumentosVM.DocumentoFile, htmlAttributes: new { @id = "inputUploadProfEstatal", @class = "form-control input-sm", @type = "file" })
                                    </div>
                                    <div class="form-group">
                                        <label>Evidencia</label>
                                        @Html.TextBoxFor(model => model.NumeroCartillaMilitarVM.DocumentosVM.DocumentoFile, htmlAttributes: new { @id = "inputUploadCartillaMilitar", @class = "form-control input-sm", @type = "file" })
                                    </div>
                                    <div class="form-group">
                                        <label>Evidencia</label>
                                        @Html.TextBoxFor(model => model.IfeVM.DocumentosVM.DocumentoFile, htmlAttributes: new { @id = "inputUploadIfe", @class = "form-control input-sm", @type = "file" })
                                    </div>
                                    <div class="form-group">
                                        <label>Evidencia</label>
                                        @Html.TextBoxFor(model => model.ComprobanteDomicilioVM.DocumentosVM.DocumentoFile, htmlAttributes: new { @id = "inputUploadComprobanteDomicilio", @class = "form-control input-sm", @type = "file" })
                                    </div>
                                    <div class="form-group">
                                        <label>Evidencia</label>
                                        @Html.TextBoxFor(model => model.SolicitudEmpleoVM.DocumentosVM.DocumentoFile, htmlAttributes: new { @id = "inputUploadSolicitudEmpleo", @class = "form-control input-sm", @type = "file" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group-sm">
                            <!-- Agregamos la tabla de forma dinamica  style="display:none" -->
                            <div class="form-group" id="addTable">
                                <br />
                                <table id="tblDocumentacion" border="1" style="width: 100%; border:solid 1px #428BCA; border-collapse: collapse;" class="table table-hover">
                                    <thead class="table table table-condensed table-bordered table-responsive table-hover" style="color:white; background-color:#428BCA; font-size:10px;">
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Eliminar</th>

                                        </tr>
                                    </thead>
                                    <tbody id="tblBody"></tbody>
                                </table>
                                <!-- Establecemos el Modal que se va a presentar cuando demos click en la edicion de los datos-->
                                <div class="modal fade" id="myModal1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header" style="background-color:#3C8DBC;color:white;">
                                                <a href="#" class="close" data-dismiss="modal">&times;</a>
                                                <h5 class="modal-title"><label style="font-size:medium;">Alergias</label></h5>
                                            </div>
                                            <div class="modal-body" id="myModalBodyDiv1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" id="hiddenAlergiaId" />
                                <!--Terminamos el modal de eliminacion-->
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
}


<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/toastr.min.css" rel="stylesheet" />
@section scripts{
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"
            integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw="
            crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/Validate/DocumentacionPersonal/validate-documentacion-personal-v1-form.js"></script>



    <script>

        var AddEliminar = function (IdDocumento) {

            var url = "/DocumentacionPersonal/GetDocumentoById?IdDocumento=" + IdDocumento;

            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");

            })

        };

        $(document).ready(function () {

            var oTable;

            BindDataTable();

            function BindDataTable() {

                if ($.fn.DataTable.isDataTable('#tblDocumentacion')) {
                    oTable.Draw();
                }
                else {
                    oTable = $('#tblDocumentacion').DataTable({

                        "bServerSide": true,
                        "sAjaxSource": '/DocumentacionPersonal/GetDocumentos',
                        "fnServerData": function (sSource, aoData, fnCallback) {
                            $.ajax({
                                type: "Get",
                                data: aoData,
                                url: sSource,
                                success: fnCallback
                            })
                        },
                        "pageLength": 5,
                        "paging": true,
                        "language": {

                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        },
                        "dataSrc": "",
                        "columns": [

                            { "data": "StrUrl" },

                            {
                                "data": "IdDocumento",
                                "render": function (IdDocumento, type, full, meta) {

                                    return '<a href="#" onclick="AddEliminar(' + IdDocumento + ')"><i class="btn btn-sm btn-google glyphicon glyphicon-trash"></i></a>'
                                }
                            },
                        ]
                    });
                }
            }


        });

    </script>
}