@model AppDigitalCv.ViewModels.ExperienciaLaboralExternaVM
@using AppDigitalCv.Security
    <noscript>
        <meta http-equiv="refresh" content="0;URL=@Url.Action("NoScript","Error")" />
    </noscript>
    <div>
        <form id="myForm" enctype="multipart/form-data">

            @Html.HiddenFor(model => model.id, new { id = "id" })
            @Html.HiddenFor(model => model.idDocumento)
            @Html.HiddenFor(model => model.idPersonal)

            <div class="bs-container">

                <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                    <img alt="user Pic" src="~/Imagenes/escudo_uttt.jpg" id="profile-image1" class="product-img img-responsive" width="100" height="70" />
                </div>
                <div class="row">
                    <div class="form-group col-lg-7">
                        <div class="form-group">
                            <label>Institución o Empresa:</label>
                            @Html.TextBoxFor(model => model.strInstitucionEmpresa, new { @class = "form-control input-sm" })
                        </div>
                        <div class="form-group">
                            <Label>Actividades:</Label>
                            @Html.TextBoxFor(model => model.strActividades, new { @class = "form-control input-sm" })
                        </div>
                        <div class="form-group">
                            <Label>Motivo de Conclusión:</Label>
                            @Html.TextBoxFor(model => model.strMotivoConclusion, new { @class = "form-control input-sm" })
                        </div>                       
                        <div class="form-group">
                            <label>Puesto Desempeñado:</label>
                            @Html.TextBoxFor(model => model.strPuestoDesempeñado, new { @class = "form-control input-sm", @id = "strPuestoDesempeñado" })
                        </div>                                         
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 col-lg-offset-4">
                            <a href="#" id="btnEnviar" class="btn btn-sm btn-success"><span>Actualizar</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>




<script>

     $("#strInstitucionEmpresa").bind('keypress', function (e) {
        var regex = new RegExp("^[a-záéíóúñA-ZÁÉÍÓÚÑ0-9., ]+$");
        var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (!regex.test(key)) {
            toastr.warning("Solo se Admiten Cadenas de Texto.", "Digital-Cv dice", { timeOut: 1000, closeButton: true });
            e.preventDefault();
            return false;
        }
     });

     $("#strActividades").bind('keypress', function (e) {
        var regex = new RegExp("^[a-záéíóúñA-ZÁÉÍÓÚÑ,. ]+$");
        var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (!regex.test(key)) {
            toastr.warning("Solo se Admiten Cadenas de Texto.", "Digital-Cv dice", { timeOut: 1000, closeButton: true });
            e.preventDefault();
            return false;
        }
     });

     $("#strMotivoConclusion").bind('keypress', function (e) {
        var regex = new RegExp("^[a-záéíóúñA-ZÁÉÍÓÚÑ,. ]+$");
        var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (!regex.test(key)) {
            toastr.warning("Solo se Admiten Cadenas de Texto.", "Digital-Cv dice", { timeOut: 1000, closeButton: true });
            e.preventDefault();
            return false;
        }
     });

     $("#strPuestoDesempeñado").bind('keypress', function (e) {
        var regex = new RegExp("^[a-záéíóúñA-ZÁÉÍÓÚÑ,. ]+$");
        var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (!regex.test(key)) {
            toastr.warning("Solo se Admiten Cadenas de Texto.", "Digital-Cv dice", { timeOut: 1000, closeButton: true });
            e.preventDefault();
            return false;
        }
    });

    $(document).ready(function () {

        $("#btnEnviar").click(function () {

            let institucion =  $('#strInstitucionEmpresa').val();
            let actividades =  $('#strActividades').val();
            let motivo =  $('#strMotivoConclusion').val();
            let puesto = $('#strPuestoDesempeñado').val();

            if (institucion != "" && actividades != "" && motivo != "" && puesto != "") {

                var ExperienciaLaboralExternaVM = {};
                var IdPersonal = @SessionPersister.AccountSession.IdPersonal;

                ExperienciaLaboralExternaVM.IdPersonal = IdPersonal;
                ExperienciaLaboralExternaVM.id = $('#id').val();
                ExperienciaLaboralExternaVM.idDocumento = $('#idDocumento').val();

                ExperienciaLaboralExternaVM.strInstitucionEmpresa = $('#strInstitucionEmpresa').val();
                ExperienciaLaboralExternaVM.strActividades = $('#strActividades').val();
                ExperienciaLaboralExternaVM.strMotivoConclusion = $('#strMotivoConclusion').val();
                ExperienciaLaboralExternaVM.strPuestoDesempeñado = $('#strPuestoDesempeñado').val();

                $.ajax({
                    type: "POST",
                    url: "/digitalcv/ExperienciaLaboralExterna/EditExperiencia",
                    data: { experienciaLaboralExternaVM: ExperienciaLaboralExternaVM },
                    success: function () {
                        $("#myModal1").modal("hide");
                        window.location.href = "/digitalcv/ExperienciaLaboralExterna/Create";
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert(textStatus);
                        console.log(textStatus);

                    }
                })
            } else
            {
                toastr.warning("No Puedes Dejar Campos Vacios", "Digital-Cv dice", { timeOut: 1000, closeButton: true });
            }

          
        });
    });
</script>

