@using AppDigitalCv.Security
@model  AppDigitalCv.ViewModels.ExperienciaLaboralExternaVM
@{
    ViewBag.Title = "Registrar Experiencia Laboral";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "myForm", id = "myForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="bs-container" style="min-height:960px;">
        <section class="content-header">
            <h1>
                Experiencia Laboral Externa
                <small>(Agregar)</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"> <i class="fa fa-dashboard"></i> Inicio </a></li>
                <li> <a href="#">Agregar</a></li>
                <li class="active">Experiencia Laboral</li>
            </ol>
        </section>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h5 class="box-title">
                            <label class="text-success emailtitleletter">
                                <i class="text-success fa fa-heartbeat"></i>
                                @SessionPersister.AccountSession.NombreCompleto
                            </label>
                        </h5>

                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Nombre de la Institución o Empresa</label>
                                    @Html.TextBoxFor(model => model.strInstitucionEmpresa, new { @class = "form-control input-sm", @id = "txtInstitucion" })
                                    <label>Puesto Desempeñado</label>
                                    @Html.TextBoxFor(model => model.strPuestoDesempeñado, new { @class = "form-control input-sm", @id = "txtPuesto" })
                                    <label>Periodo</label>
                                    @Html.DropDownList("idPeriodo", null, new { @class = "form-control input-sm", @id = "ddlPeriodo" })
                                    <label>Fecha de Inicio</label>
                                    @Html.TextBoxFor(model => model.dteFechaInicio, new { @class = "form-control input-sm", @id = "dteFechaInicio", @type = "date" })
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <label>Fecha de Termino</label>
                                @Html.TextBoxFor(model => model.dteFechaFinal, new { @class = "form-control input-sm", @id = "dteFechaTermino", @type = "date" })
                                <label>Actividades Realizadas</label>
                                @Html.TextAreaFor(model => model.strActividades, new { @class = "form-control input-sm", @id = "txtActividades" })
                                <label>Motivo de Conclusión</label>
                                @Html.TextBoxFor(model => model.strMotivoConclusion, new { @class = "form-control input-sm", @id = "txtMotivoConclusion" })
                                <label>Evidencia del Documento en PDF</label>
                                @Html.TextBoxFor(model => model.documentosVM.DocumentoFile, new { @class = "form-control input-sm", @id = "inputFileUpload", @type = "file" })
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="submit" id="btnGuardar" value="Guardar" class="btn btn-success" />
                                </div>
                            </div>

                            <div class="form-group-sm">
                                <!-- Agregamos la tabla de forma dinamica  style="display:none" -->
                                <div class="form-group" id="addTable">
                                    <br />
                                    <table id="tblExperienci" border="1" style="width: 100%; border:solid 1px #428BCA; border-collapse: collapse;" class="table table-hover">
                                        <thead class="table table table-condensed table-bordered table-responsive table-hover" style="color:white; background-color:#428BCA; font-size:10px;">
                                            <tr>
                                                <th>Institucion o Empresa</th>
                                                <th>Editar</th>
                                                <th>Eliminar</th>

                                            </tr>
                                        </thead>
                                        <tbody id="tblBody"></tbody>
                                    </table>
                                    <!-- Establecemos el Modal que se va a presentar cuando demos click en la edicion de los datos-->
                                    <div class="modal fade" id="myModal1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header" style="background-color:#3C8DBC;color:white;">
                                                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                                                    <h5 class="modal-title"><label style="font-size:medium;">Participaciones</label></h5>
                                                </div>
                                                <div class="modal-body" id="myModalBodyDiv1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="hiddenAlergiaId" />
                                    <!--Terminamos el modal de eliminacion-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/toastr.min.css" rel="stylesheet" />
@section scripts{
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"
            integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw="
            crossorigin="anonymous"></script>
    <script src="~/Content/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/Validate/ExperienciaLaboralExterna/validate-experiencia-laboral-externa-form.js"></script>
    <script src="~/Scripts/Validate/ExperienciaLaboralExterna/validate-experiencia-laboral-externa-upload.js"></script>
    <script src="~/Scripts/Validate/ExperienciaLaboralExterna/validate-experiencia-laboral-externa-date.js"></script>
    <script>

        var AddEditar = function (idDocumento) {
            var url = "/ExperienciaLaboralExterna/GetExperenciaEdit?idDocumento=" + idDocumento;

            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");

            })

        };

        var AddEliminar = function (idDocumento) {
            var url = "/ExperienciaLaboralExterna/GetExperencia?idDocumento=" + idDocumento;

            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");

            })

        };

        $(document).ready(function () {

            var oTable;

            BindDataTable();

            function BindDataTable() {

                if ($.fn.DataTable.isDataTable('#tblExperienci')) {
                    oTable.Draw();
                }
                else {
                    oTable = $('#tblExperienci').DataTable({

                        "bServerSide": true,
                        "sAjaxSource": '/ExperienciaLaboralExterna/GetExperiencias',
                        "fnServerData": function (sSource, aoData, fnCallback) {
                            $.ajax({
                                type: "Get",
                                data: aoData,
                                url: sSource,
                                success: fnCallback
                            })
                        },
                        "pageLength": 5,
                        "paging": true,
                        "language": {

                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        },
                        "dataSrc": "",
                        "columns": [

                            { "data": "strInstitucionEmpresa" },

                            {
                                "data": "idDocumento",
                                "render": function (idDocumento, type, full, meta) {

                                    return '<a href="#" onclick="AddEditar(' + idDocumento + ')"><i class="btn btn-sm btn-success fa fa-pencil-square-o"></i></a>'
                                }
                            },
                            {
                                "data": "idDocumento",
                                "render": function (idDocumento, type, full, meta) {

                                    return '<a href="#" onclick="AddEliminar(' + idDocumento + ')"><i class="btn btn-sm btn-google glyphicon glyphicon-trash"></i></a>'
                                }
                            },
                        ]
                    });
                }
            }


        });

    </script>
}