@using AppDigitalCv.Security
<link href="~/Content/css/position-top.css" rel="stylesheet" />
<header class="main-header">

    @* BEGIN Logo *@
    <a href="@Url.Action("Index", "Home")" class="logo">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini"><b>UT</b>TT</span>
        @* Logo for regular state and mobile devices *@
        <span class="logo-lg"><b>Digital</b>-Cv</span>
    </a>
    @* END Logo *@
    @* BEGIN Header *@

    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Navegación</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="fix-text" title="Formación Docente"> Formación Docente </span> &nbsp;<i class="fa fa-graduation-cap"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Formación Docente</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="@Url.Action("Create","CapacitacionesRecibidas")">
                                        <span class="text-blue">Capacitaciónes</span>
                                        <div class="pull-left">
                                            <img src="~/Imagenes/docente_participa.png" class="img-circle" alt="User Image">
                                        </div>
                                        <p class="text-green">Recibidas</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="@Url.Action("Create","CapacitacionesImpartidas")">
                                        <span class="text-blue">Capacitaciónes</span>
                                        <div class="pull-left">
                                            <img src="~/Imagenes/docente_participa.png" class="img-circle" alt="User Image">
                                        </div>
                                        <p class="text-green">Impartidas</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                </li>
                <li>
                    <ul class="menu">
                        <li>
                            <a href="@Url.Action("Create","ExperienciaLaboralInterna")">
                                <span class="text-blue">Experiencia Laboral</span>
                                <div class="pull-left">
                                    <img src="~/Imagenes/docente_participa.png" class="img-circle" alt="User Image">
                                </div>
                                <p class="text-green">Dentro de la Institución</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="menu">
                        <li>
                            <a href="@Url.Action("Create","ExperienciaLaboralExterna")">
                                <span class="text-blue">Experiencia Laboral</span>
                                <div class="pull-left">
                                    <img src="~/Imagenes/docente_participa.png" class="img-circle" alt="User Image">
                                </div>
                                <p class="text-green">Fuera de la Institución</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="menu">
                        <li>
                            <a href="@Url.Action("Create","HistorialAcademico")">
                                <span class="text-blue">Historial Academico</span>
                                <div class="pull-left">
                                    <img src="~/Imagenes/docente_participa.png" class="img-circle" alt="User Image">
                                </div>
                                <p class="text-green">Bachillerato, Licenciatura, Ingenieria,<br /> Maestria, Doctorado</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="menu">
                        <li>
                            <a href="@Url.Action("Create","ParticipacionConferencias")">
                                <span class="text-blue">Participación en</span>
                                <div class="pull-left">
                                    <img src="~/Imagenes/docente_participa.png" class="img-circle" alt="User Image">
                                </div>
                                <p class="text-green">Conferencias, Congresos, Foros.</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="menu">
                        <li>
                            <a href="@Url.Action("Create","PresentacionConferencias")">
                                <span class="text-blue">Presentación de</span>
                                <div class="pull-left">
                                    <img src="~/Imagenes/docente_participa.png" class="img-circle" alt="User Image">
                                </div>
                                <p class="text-green">Conferencias, Congresos, Foros.</p>
                            </a>
                        </li>
                    </ul>
                </li>
               
                @*<li class="footer"><a href="#">Más Participaciones</a></li>*@
            </ul>

            <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="fix-text" title="Participación Institucional">Participación Institucional</span> &nbsp;<i class="fa  fa-star"></i>
                </a>
                <ul class="dropdown-menu">
                    <li class="header">Participación Institucional</li>
                    <li>
                        <ul class="menu">
                            <li>
                                <a href="@Url.Action("Create","ParticipacionInstitucionalExterna")">
                                    <span class="text-blue">Participacion Institucional Externa</span>
                                    <div class="pull-left">
                                        <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                    </div>

                                    <p class="text-green">Participaciones Institucionales <br /> Fuera de la Institución</p>
                                </a>

                            </li>
                            <li>
                                <a href="@Url.Action("Create","ParticipacionInstitucionalInterna")">
                                    <span class="text-blue">Participacion Institucional Interna</span>
                                    <div class="pull-left">
                                        <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                    </div>

                                    <p class="text-green">Participaciones Institucionales <br /> Dentro de la Institución</p>
                                </a>

                            </li>

                        </ul>
                    </li>
                    @*<li class="footer"><a href="#">See All Messages</a></li>*@
                </ul>
            </li>

            <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="fix-text" title="PRODEP"> PRODEP </span>&nbsp;<i class="fas fa-book"></i>
                </a>
                <ul class="dropdown-menu">
                    <li class="header">Producción Academica</li>
                    <li>
                        <ul class="menu">
                            <li>
                                <a href="@Url.Action("Create","Libro")">
                                    <span class="text-blue">Libro(s)</span>
                                    <div class="pull-left">
                                        <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                    </div>

                                    <p class="text-green">Libros</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu">
                            <li>
                                <a href="@Url.Action("Create","CapituloLibro")">
                                    <span class="text-blue">Capitulos del Libro</span>
                                    <div class="pull-left">
                                        <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                    </div>

                                    <p class="text-green">Capitulos</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu">
                            <li>
                                <a href="@Url.Action("Create","InformeTecnico")">
                                    <span class="text-blue">Informes Técnicos</span>
                                    <div class="pull-left">
                                        <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                    </div>

                                    <p class="text-green">Informes Técnicos</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu">
                            <li>
                                <a href="@Url.Action("Create","ManualOperacion")">
                                    <span class="text-blue">Manuales de Operación</span>
                                    <div class="pull-left">
                                        <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                    </div>

                                    <p class="text-green">Manuales de Operación</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu">
                            <li>
                                <a href="@Url.Action("Create","ProductividadInnovadora")">
                                    <span class="text-blue">Producción Innovadora</span>
                                    <div class="pull-left">
                                        <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                    </div>

                                    <p class="text-green">Productos Innovadores</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu">
                            <li>
                                <a href="@Url.Action("Create","ProduccionesArtisticas")">
                                    <span class="text-blue">Producciones Artisticas</span>
                                    <div class="pull-left">
                                        <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                    </div>

                                    <p class="text-green">Producciones Artisticas</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu">
                            <li>
                                <a href="@Url.Action("Create","Prototipo")">
                                    <span class="text-blue">Prototipo</span>
                                    <div class="pull-left">
                                        <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                    </div>

                                    <p class="text-green">Prototipos</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu">
                            <li>
                                <a href="@Url.Action("Create","ProyectoInvestigacion")">
                                    <span class="text-blue">Proyecto de Investigación Aplicada</span>
                                    <div class="pull-left">
                                        <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                    </div>

                                    <p class="text-green">Proyectos de Investigación Aplicada y <br /> Desarrollo Tecnológico</p>
                                </a>
                            </li>
                        </ul>
                    </li>                 
                    <li>
                        <ul class="menu">
                            <li>
                                <a href="@Url.Action("Create","EstadiaEmpresa")">
                                    <span class="text-blue">Estadia en Empresa</span>
                                    <div class="pull-left">
                                        <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                    </div>

                                    <p class="text-green">Estadias en Empresas</p>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu">
                            <li>
                                <a href="@Url.Action("Create","Tutorias")">
                                    <span class="text-blue">Tutorias</span>
                                    <div class="pull-left">
                                        <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                    </div>

                                    <p class="text-green">Tutorias</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    @*<li class="footer"><a href="#">See All Messages</a></li>*@
                </ul>
            </li>           
            @* BEGIN User Account Menu *@
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    @if (SessionPersister.AccountSession != null)
                    {

                        string url = Server.MapPath("~/Imagenes/Usuarios/" + @SessionPersister.AccountSession.NombreCompleto + "/ImagePerfil/perfil.jpeg");

                        if (File.Exists(url))
                        {
                            <img src="~/Imagenes/Usuarios/@SessionPersister.AccountSession.NombreCompleto/ImagePerfil/perfil.jpeg" class="user-image">
                        }
                        else
                        {
                            <img src="~/Imagenes/Usuarios/@SessionPersister.AccountSession.NombreCompleto/ImagePerfil/perfil_anonimo.jpg" class="user-image">
                        }

                        <span class="hidden-xs">
                            @if (SessionPersister.AccountSession != null)
                            {
                                @SessionPersister.AccountSession.NombreCompleto
                            }

                        </span>
                    }
                </a>
                <ul class="dropdown-menu">
                    <li class="user-header">
                        @if (SessionPersister.AccountSession != null)
                        {

                            string url = Server.MapPath("~/Imagenes/Usuarios/" + @SessionPersister.AccountSession.NombreCompleto + "/ImagePerfil/perfil.jpeg");

                            if (File.Exists(url))
                            {
                                <img src="~/Imagenes/Usuarios/@SessionPersister.AccountSession.NombreCompleto/ImagePerfil/perfil.jpeg" class="img-circle">
                            }
                            else
                            {
                                <img src="~/Imagenes/Usuarios/@SessionPersister.AccountSession.NombreCompleto/ImagePerfil/perfil_anonimo.jpg" class="img-circle">
                            }
                        }
                        <p>
                            @if (SessionPersister.AccountSession != null)
                            {
                                @SessionPersister.AccountSession.NombreCompleto
                                <br />
                                @SessionPersister.AccountSession.TipoPersonal
                                <small>Member since @DateTime.Now</small>
                            }
                        </p>
                    </li>
                   
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="@Url.Action("Perfil","Personal")" class="btn btn-default btn-flat">Perfil</a>
                        </div>
                        <div class="pull-right">
                            <a href="@Url.Action("LogOut","Seguridad")" class="btn btn-default btn-flat" id="BtnCerrarSession">
                                Salir
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            @* END User Account Menu *@
            @* BEGIN Control Sidebar Toggle Button *@
            <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>
            @* END Control Sidebar Toggle Button *@
            </ul>
        </div>
    </nav>
</header>

