@using AppDigitalCv.Security
<link href="~/Content/css/position-top.css" rel="stylesheet" />
<header class="main-header">

    @* BEGIN Logo *@
    <a href="@Url.Action("Index", "Home")" class="logo">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini"><b>UT</b>TT</span>
        @* Logo for regular state and mobile devices *@
        <span class="logo-lg"><b>Digital</b>-Cv</span>
    </a>
    @* END Logo *@
    @* BEGIN Header *@

    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Navegación</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="fix-text" title="Formación Docente"> Formación Docente </span> &nbsp;<i class="fa fa-graduation-cap"></i>                        
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Formación Docente</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="@Url.Action("Create","CapacitacionCompetenciasProfesionales")">
                                        <span class="text-blue">Capacitación en Competencias Profesionales</span>
                                        <div class="pull-left">
                                            <img src="~/Imagenes/docente_participa.png" class="img-circle" alt="User Image">
                                        </div>

                                        <p class="text-green">Capacitaciones Recibidas</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="@Url.Action("Create","OtrasCapacitaciones")">
                                        <span class="text-blue">Otras Capacitaciones</span>
                                        <div class="pull-left">
                                            <img src="~/Imagenes/docente_participa.png" class="img-circle" alt="User Image">
                                        </div>

                                        <p class="text-green">Otras Capacitaciones Recibidas</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="@Url.Action("Create","Cursos")">
                                        <span class="text-blue">Cursos Impartidos</span>
                                        <div class="pull-left">
                                            <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                        </div>

                                        <p class="text-green">Cursos Impartidos</p>
                                    </a>

                                </li>

                            </ul>
                        </li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="@Url.Action("Create","ExperienciaLaboralExterna")">
                                        <span class="text-blue">Experiencia Laboral Externa</span>
                                        <div class="pull-left">
                                            <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                        </div>

                                        <p class="text-green">Agregar Experiencia</p>
                                    </a>

                                </li>

                            </ul>
                        </li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="@Url.Action("Create","ExperienciaLaboralInterna")">
                                        <span class="text-blue">Experiencia Laboral Interna</span>
                                        <div class="pull-left">
                                            <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                        </div>

                                        <p class="text-green">Agregar Experiencia</p>
                                    </a>

                                </li>

                            </ul>
                        </li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="@Url.Action("Create","ParticipacionDocente")">
                                        <span class="text-blue">Participación en Conferencias, Congresos, <br>etc...</span>
                                        <br />
                                        <div class="pull-left">
                                            <img src="~/Imagenes/docente_participa.png" class="img-circle" alt="User Image">
                                        </div>

                                        <p class="text-green">Participación en Conferencias, etc...</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="@Url.Action("Create","#")">
                                        <span class="text-blue">Presentacion de Conferencias, Congresos, <br>etc...</span>
                                        <br />
                                        <div class="pull-left">
                                            <img src="~/Imagenes/docente_participa.png" class="img-circle" alt="User Image">
                                        </div>

                                        <p class="text-green">Presentacion de Conferencias, etc...</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">Más Participaciones</a></li>
                    </ul>
                </li>

                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="fix-text" title="Participación Institucional">Participación Institucional</span> &nbsp;<i class="fa  fa-star"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Participación Institucional</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="@Url.Action("Create","ParticipacionInstitucionalExterna")">
                                        <span class="text-blue">Participacion Institucional Externa</span>
                                        <div class="pull-left">
                                            <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                        </div>

                                        <p class="text-green">Agregar Participación</p>
                                    </a>

                                </li>
                                <li>
                                    <a href="@Url.Action("Create","ParticipacionInstitucionalInterna")">
                                        <span class="text-blue">Participacion Institucional Interna</span>
                                        <div class="pull-left">
                                            <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                        </div>

                                        <p class="text-green">Agregar Participación</p>
                                    </a>

                                </li>

                            </ul>
                        </li>
                        <li class="footer"><a href="#">See All Messages</a></li>
                    </ul>
                </li>

                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="fix-text" title="PRODEP"> PRODEP </span>&nbsp;<i class="fas fa-book"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Producción Academica</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="@Url.Action("Create","Libro")">
                                        <span class="text-blue">Libro(s)</span>
                                        <div class="pull-left">
                                            <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                        </div>

                                        <p class="text-green">Agregar Libro</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="@Url.Action("Create","CapituloLibro")">
                                        <span class="text-blue">Capitulos del Libro</span>
                                        <div class="pull-left">
                                            <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                        </div>

                                        <p class="text-green">Agregar Capitulo</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="@Url.Action("Create","InformeTecnico")">
                                        <span class="text-blue">Informes Técnicos</span>
                                        <div class="pull-left">
                                            <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                        </div>

                                        <p class="text-green">Agregar Informe Técnico</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="@Url.Action("Create","ManualOperacion")">
                                        <span class="text-blue">Manuales de Operación</span>
                                        <div class="pull-left">
                                            <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                        </div>

                                        <p class="text-green">Agregar Manual de Operación</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="@Url.Action("Create","ProductividadInnovadora")">
                                        <span class="text-blue">Producción Innovadora</span>
                                        <div class="pull-left">
                                            <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                        </div>

                                        <p class="text-green">Agregar Innovaciones</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="@Url.Action("Create","ProduccionesArtisticas")">
                                        <span class="text-blue">Producciones Artisticas</span>
                                        <div class="pull-left">
                                            <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                        </div>

                                        <p class="text-green">Agregar Producción</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="@Url.Action("Create","Prototipo")">
                                        <span class="text-blue">Prototipo</span>
                                        <div class="pull-left">
                                            <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                        </div>

                                        <p class="text-green">Agregar Prototipo</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="@Url.Action("Create","ProyectoInvestigacion")">
                                        <span class="text-blue">Proyecto de Investigación Aplicada y Desarrollo Tecnológico</span>
                                        <div class="pull-left">
                                            <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                        </div>

                                        <p class="text-green">Agregar Proyecto</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="@Url.Action("Create","DireccionIndividualizada")">
                                        <span class="text-blue">Dirección Individualizada</span>
                                        <div class="pull-left">
                                            <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                        </div>

                                        <p class="text-green">Agregar Dirección</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="@Url.Action("Create","EstadiaEmpresa")">
                                        <span class="text-blue">Estadia en Empresa</span>
                                        <div class="pull-left">
                                            <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                        </div>

                                        <p class="text-green">Agregar Estadia</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="menu">
                                <li>
                                    <a href="@Url.Action("Create","Tutorias")">
                                        <span class="text-blue">Tutorias</span>
                                        <div class="pull-left">
                                            <img src="~/Imagenes/cursos.jpg" class="img-circle" alt="User Image">
                                        </div>

                                        <p class="text-green">Agregar Tutoria</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">See All Messages</a></li>
                    </ul>
                </li>
                <!--
                @*@* BEGIN Messages *@
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-success">4</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 4 messages</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="~/Content/img/user.jpg" class="img-circle" alt="User Image">
                                        </div>
                                        <h4>
                                            Support Team
                                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                        </h4>
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">See All Messages</a></li>
                    </ul>
                </li>
                @* END Messages *@
                @* BEGIN Notifications *@
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">10</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 10 notifications</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">View all</a></li>
                    </ul>
                </li>
                @* END Notifications *@
                @* BEGIN Tasks *@
                <li class="dropdown tasks-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-danger">9</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 9 tasks</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <h3>
                                            Design some buttons
                                            <small class="pull-right">20%</small>
                                        </h3>
                                        <div class="progress xs">
                                            @* Change the css width attribute to simulate progress *@
                                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">20% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="#">View all tasks</a>
                        </li>
                    </ul>
                </li>
                @* END Tasks *@
                    -->
                @* BEGIN User Account Menu *@
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        @if (SessionPersister.AccountSession != null)
                        {
                            <img src="~/Imagenes/Usuarios/@SessionPersister.AccountSession.NombreCompleto/ImagePerfil/perfil.jpeg" class="user-image">
                            <span class="hidden-xs">
                                @if (SessionPersister.AccountSession != null)
                                {
                                    @SessionPersister.AccountSession.NombreCompleto
                                }

                            </span>
                        }
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            @if (SessionPersister.AccountSession != null)
                            {
                                <img src="~/Imagenes/Usuarios/@SessionPersister.AccountSession.NombreCompleto/ImagePerfil/perfil.jpeg" class="img-circle">
                            }
                            <p>
                                @if (SessionPersister.AccountSession != null)
                                {
                                    @SessionPersister.AccountSession.NombreCompleto
                                    <br />
                                    @SessionPersister.AccountSession.TipoPersonal
                                    <small>Member since @DateTime.Now</small>
                                }
                            </p>
                        </li>
                        @*<li class="user-body">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="#">Followers</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Sales</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Friends</a>
                                </div>
                            </div>
                        </li>*@
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="@Url.Action("Perfil","Personal")" class="btn btn-default btn-flat">Perfil</a>
                            </div>
                            <div class="pull-right">
                                <a href="@Url.Action("LogOut","Seguridad")" class="btn btn-default btn-flat" id="BtnCerrarSession">

                                    Salir
                                </a>
                                @*<button type="submit" class="btn btn-default btn-flat" id="BtnCerrarSession">Sign out</button>*@

                            </div>
                        </li>
                    </ul>
                </li>
                @* END User Account Menu *@
                @* BEGIN Control Sidebar Toggle Button *@
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
                @* END Control Sidebar Toggle Button *@
            </ul>
        </div>
    </nav>
</header>

