@using WebHelpers.Mvc5
@using AppDigitalCv.Security
<aside class="main-sidebar">
    <div class="user-panel">
        <div class="pull-left image">
            <img src="~/Imagenes/usertest-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>
                @if (SessionPersister.AccountSession != null)
                {
                    @SessionPersister.AccountSession.NombreCompleto
                }
            </p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">HEADER</li>
            <li class="@Url.IsLinkActive("Index", "Home")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-link"></i> <span>Home</span></a>
            </li>
            <li class="@Url.IsLinkActive("AnotherLink", "Home")">
                <a href="@Url.Action("AnotherLink", "Home")"><i class="fa fa-link"></i> <span>Another Link</span></a>
            </li>
            <li class="@Url.IsLinkActive("Create","Personal")">
                <a href="@Url.Action("Create","Personal")"><i class="fa fa-user-plus"></i><span>Datos Personales</span> </a>
            </li>
            <li class="@Url.IsLinkActive("EditarDatosPersonales","Personal")">
                <a href="@Url.Action("EditarDatosPersonales","Personal")"><i class="fa fa-user-plus"></i><span>Editar Datos Personales</span> </a>
            </li>
            <li class="@Url.IsLinkActive("InfoPersonal","Personal")">
                <a href="@Url.Action("InfoPersonal","Personal")"><i class="fa fa-user-plus"></i><span>Informacion Personal</span> </a>
            </li>
            <li class="@Url.IsLinkActive("AgregarDocumentos","Personal")">
                <a href="@Url.Action("AgregarDocumentos","Personal")"><i class="fa fa-user-plus"></i><span>Editar Datos Personales</span> </a>
            </li>
            <li class="@Url.IsLinkActive("Create","Direccion")">
                <a href="@Url.Action("Create","Direccion")"><i class="fa fa-newspaper-o"></i><span>Datos de Direccion</span></a>
            </li>
            <li class="@Url.IsLinkActive("EditarDatosDireccion", "Direccion")">
                <a href="@Url.Action("EditarDatosDireccion", "Direccion")"><i class="fa fa-newspaper-o"></i><span>Editar Datos de Direccion</span></a>
            </li>
            <li class="@Url.IsLinkActive("Create","DatosContacto")">
                <a href="@Url.Action("Create","DatosContacto")"><i class="fa fa-newspaper-o"></i><span>Datos de Contacto</span></a>
            </li>
            <li class="@Url.IsLinkActive("EditarDatosContacto","DatosContacto")">
                <a href="@Url.Action("EditarDatosContacto","DatosContacto")"><i class="fa fa-user-plus"></i><span>Editar Datos de Contacto</span> </a>
            </li>
            <li class="@Url.IsLinkActive("Create","EstadoCivil")">
                <a href="@Url.Action("Create","EstadoCivil")"><i class="fa fa-user-plus"></i><span>Agregar Estado Civil</span> </a>
            </li>
            <li class="@Url.IsLinkActive("Create","EstadoSalud")">
                <a href="@Url.Action("Create","EstadoSalud")"><i class="fa fa-user-plus"></i><span>Agregar Estado de Salud</span> </a>
            </li>
            <li class="@Url.IsLinkActive("Create","IdiomaDialecto")">
                <a href="@Url.Action("Create","IdiomaDialecto")"><i class="fa fa-user-plus"></i><span>Agregar Idiomas o Dialectos</span> </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Multilevel</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Link in level 2</a></li>
                    <li><a href="#">Link in level 2</a></li>
                </ul>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>