@model AppDigitalCv.ViewModels.CapituloLibroVM
@using AppDigitalCv.Security
    <noscript>
        <meta http-equiv="refresh" content="0;URL=@Url.Action("NoScript","Error")" />
    </noscript>
<div>
    <form id="myForm" enctype="multipart/form-data">

        @Html.HiddenFor(model => model.id, new { id = "id" })

        <div class="bs-container">

            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                <img alt="user Pic" src="~/Imagenes/escudo_uttt.jpg" id="profile-image1" class="product-img img-responsive" width="100" height="70" />
            </div>
            <div class="row">
                <div class="form-group col-lg-7">
                    <div class="form-group">
                        <label>Autor:</label>
                        @Html.TextBoxFor(model => model.strAutor, new { @class = "form-control input-sm", id = "txtAutor" })
                    </div>
                    <div class="form-group">
                        <label>Titulo</label>
                        @Html.TextBoxFor(model => model.strTitulo, new { @class = "form-control input-sm", id = "txtTitulo" })
                    </div>
                    <div class="form-group">
                        <label>Editorial</label>
                        @Html.TextBoxFor(model => model.strEditorial, new { @class = "form-control input-sm", id = "txtEditorial" })
                    </div>
                    <div class="form-group">
                        <label>Edicion</label>
                        @Html.TextBoxFor(model => model.strEdicion, new { @class = "form-control input-sm", id = "txtEdicion" })
                    </div>
                    <div class="form-group">
                        <label>Tiraje</label>
                        @Html.TextBoxFor(model => model.strTiraje, new { @class = "form-control input-sm", id = "txtTiraje" })
                    </div>
                    <div class="form-group">
                        <label>ISBN</label>
                        @Html.TextBoxFor(model => model.strISBN, new { @class = "form-control input-sm", id = "txtISBN" })
                    </div>
                    <div class="form-group">
                        <label>Titulo del Capitulo</label>
                        @Html.TextBoxFor(model => model.strTituloCapitulo, new { @class = "form-control input-sm", id = "txtTituloCapitulo" })
                    </div>
                    <div class="form-group">
                        <label>Autores</label>
                        @Html.TextBoxFor(model => model.strAutores, new { @class = "form-control input-sm", id = "txtAutores" })
                    </div>          
                    <div class="form-group">
                        <a href="" id="enviar" class="btn btn-sm btn-success"><span><i class="">Actualizar</i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>


<script>

    $('#txtAutor').keypress(function (e) {

        let data = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        let regExp = new RegExp("^[a-záéíóúñA-ZÁÉÍÓÚÑ,. ]+$");

        if (!regExp.test(data)) {
            e.preventDefault();
            toastr.warning('Solo se Permiten Cadenas de Texto', 'Digital-Cv dice', { timeOut: 1000, closeButton: true });
        }
    })

    $('#txtTitulo').keypress(function (e) {

        let data = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        let regExp = new RegExp("^[a-záéíóúñA-ZÁÉÍÓÚÑ. ]+$");

        if (!regExp.test(data)) {
            e.preventDefault();
            toastr.warning('Solo se Permiten Cadenas de Texto', 'Digital-Cv dice', { timeOut: 1000, closeButton: true });
        }

    })

    $('#txtEditorial').keypress(function (e) {

        let data = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        let regExp = new RegExp("^[a-záéíóúñA-ZÁÉÍÓÚÑ0-9. ]+$");

        if (!regExp.test(data)) {
            e.preventDefault();
            toastr.warning('Solo se Permiten Cadenas de Texto', 'Digital-Cv dice', { timeOut: 1000, closeButton: true });
        }

    })

    $('#txtEdicion').keypress(function (e) {

        let data = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        let regExp = new RegExp("^[a-záéíóúñA-ZÁÉÍÓÚÑ0-9. ]+$");

        if (!regExp.test(data)) {
            e.preventDefault();
            toastr.warning('Solo se Permiten Cadenas de Texto', 'Digital-Cv dice', { timeOut: 1000, closeButton: true });
        }

    })

    $('#txtTiraje').keypress(function (e) {

        let data = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        let regExp = new RegExp("^[0-9]+$");

        if (!regExp.test(data)) {
            e.preventDefault();
            toastr.warning('Solo se Permiten Numeros', 'Digital-Cv dice', { timeOut: 1000, closeButton: true });
        }
    })

    $('#txtISBN').keypress(function (e) {

        let data = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        let regExp = new RegExp("^[0-9]+$");

        if (!regExp.test(data)) {
            e.preventDefault();
            toastr.warning('Solo se Permiten Numeros', 'Digital-Cv dice', { timeOut: 1000, closeButton: true });
        }
    })

    $('#txtTituloCapitulo').keypress(function (e) {

        let data = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        let regExp = new RegExp("^[a-záéíóúñA-ZÁÉÍÓÚÑ. ]+$");

        if (!regExp.test(data)) {
            e.preventDefault();
            toastr.warning('Solo se Permiten Cadenas de Texto', 'Digital-Cv dice', { timeOut: 1000, closeButton: true });
        }

    })

    $('#txtAutores').keypress(function (e) {

        let data = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        let regExp = new RegExp("^[a-záéíóúñA-ZÁÉÍÓÚÑ,. ]+$");

        if (!regExp.test(data)) {
            e.preventDefault();
            toastr.warning('Solo se Permiten Cadenas de Texto', 'Digital-Cv dice', { timeOut: 1000, closeButton: true });
        }

    })


    $(document).ready(function () {

        $("#enviar").click(function () {

            let autor = $('#txtAutor').val();
            let titulo = $('#txtTitulo').val();
            let editorial = $('#txtEditorial').val();
            let edicion = $('#txtEdicion').val();
            let tiraje = $('#txtTiraje').val();
            let isbn = $('#txtISBN').val();
            let tituloCapitulo = $('#txtTituloCapitulo').val();
            let autores = $('#txtAutores').val();

            if (autor != "" && titulo != "" && editorial != "" && edicion != "" && tiraje != "" && isbn != "" && tituloCapitulo != ""
                && autores != "") {

                var CapituloLibroVM = {};
                var IdPersonal = @SessionPersister.AccountSession.IdPersonal;

                CapituloLibroVM.id = $('#id').val();
                CapituloLibroVM.strAutor = $('#txtAutor').val();
                CapituloLibroVM.strTitulo = $('#txtTitulo').val();
                CapituloLibroVM.strEditorial = $('#txtEditorial').val();
                CapituloLibroVM.strEdicion = $('#txtEdicion').val();
                CapituloLibroVM.strTiraje = $('#txtTiraje').val();
                CapituloLibroVM.strISBN = $('#txtISBN').val();
                CapituloLibroVM.strTituloCapitulo = $('#txtTituloCapitulo').val();
                CapituloLibroVM.strAutores = $('#txtAutores').val();

                $.ajax({
                    type: "POST",
                    url: "/digitalcv/CapituloLibro/UpdateCapituloLibro",
                    data: { capituloLibroVM: CapituloLibroVM },
                    success: function () {
                        $("#myModal1").modal("hide");
                        window.location.href = "/digitalcv/CapituloLibro/Create";
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert(textStatus);
                        console.log(textStatus);

                    }
                })

            }
            else
            {
                toastr.warning('No Puedes Dejar Campos Vacios', 'Digital-Cv dice', { timeOut: 1000, closeButton: true });
            }
            
        });
    });
</script>


