@using AppDigitalCv.Security
@model AppDigitalCv.ViewModels.DireccionVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

        <div class="bs-container content" style="min-height:960px;">
            <section class="content-header">
                <h1>
                    Agregar Dirección
                    <small> Agregar la direccion completa </small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"> <i class="fa fa-dashboard"></i>Inicio </a></li>
                    <li> <a href="#">Dirección</a></li>
                    <li class="active">(Agregar)</li>
                </ol>
            </section>
            <br />
       
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="box box-success">
                        <br /><label class="text-green">
                            <i class="text-success fa fa-graduation-cap"></i>
                            @SessionPersister.AccountSession.NombreCompleto
                        </label>

                        <div role="form">
                            <div class="box-body">
                                <div class="form-inline">
                                    <div class="form-group-sm ">
                                        <label>País:</label>
                                        @Html.DropDownList("Pais", null, htmlAttributes: new { @class = "form-control input-sm", id = "Pais" })
                                        <label>Estado:</label>
                                        @Html.DropDownList("Estados", null, htmlAttributes: new { @class = "form-control input-sm", id = "Estados" })
                                        <label>Municipio:</label>
                                        @Html.DropDownList("Municipios", null, htmlAttributes: new { @class = "form-control input-sm", id = "Municipios" })
                                    </div>
                                    <br />
                                    <div class="form-group-sm">
                                        <label>Colonia</label>
                                        @Html.DropDownList("IdColonia", null, htmlAttributes: new { @class = "form-control input-sm", id = "IdColonia" })
                                        <label for="etCodigoPostal"> Codigo Postal: </label>
                                        @Html.TextBoxFor(model => model.ColoniaVM.intCp, new { @class = "form-control input-sm", placeholder = "Codigo Postal", id = "codigoPostal" })
                                        <label for="etCalle">Calle:</label>
                                        @Html.TextBoxFor(model => model.StrCalle, new { @class = "form-control input-sm", placeholder = "Calle", required = "", id = "Calle", pattern = "^[a-záéíóúñA-ZÁÉÍÓÚÑ0-9.# ]+$" })
                                    </div><br />
                                    <div class="form-group-sm">
                                        <label for="etNoInterior">No.Interior:</label>
                                        @Html.TextBoxFor(model => model.StrNumeroInterior, new { @class = "form-control input-sm", placeholder = "Numero Interior", required = "", id = "NInterior", pattern = "^[0-9]+$" })
                                        <label for="etNoExterior">No° Exterior:</label>
                                        @Html.TextBoxFor(model => model.StrNumeroExterior, new { @class = "form-control input-sm", placeholder = "Numero Exterior", required = "", id = "NExterior", pattern = "^[0-9]+$" })
                                    </div>
                                    <div class="form-group-sm">
                                        <input type="submit" value="Guardar" class="btn btn-success" id="Enviar" />
                                    </div>
                                </div>
                                <!--aqui va todo-->
                                <div class="form-group-sm">
                                    <!-- Agregamos la tabla de forma dinamica  style="display:none" -->
                                    <div class="form-group" id="addTable">
                                        <br />
                                        <table id="tblDireccion" border="1" style="width: 100%; border:solid 1px #428BCA; border-collapse: collapse;" class="table table-hover">
                                            <thead class="table table table-condensed table-bordered table-responsive table-hover" style="color:white; background-color:#428BCA; font-size:10px;">
                                                <tr>
                                                    <th>Calle</th>
                                                    <th>Colonia</th>
                                                    <th>Número Interior</th>
                                                    <th>Número Exterior</th>
                                                    <th>Editar</th>

                                                </tr>
                                            </thead>
                                            <tbody id="tblBody"></tbody>
                                        </table>
                                        <!-- Establecemos el Modal que se va a presentar cuando demos click en la edicion de los datos-->
                                        <div class="modal fade" id="myModal1">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header" style="background-color:#3C8DBC;color:white;">
                                                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                                                        <h5 class="modal-title"><label style="font-size:medium;">Dirección</label></h5>
                                                    </div>
                                                    <div class="modal-body" id="myModalBodyDiv1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" id="hiddenDirecciondId" />
                                        <!--Terminamos el modal de eliminacion-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

}

<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/toastr.min.css" rel="stylesheet" />
@section scripts{
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"
            integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw="
            crossorigin="anonymous"></script>
    <script src="~/Content/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/Validate/Direccion/validate-direccion-form.js"></script>
    <script src="~/Scripts/Validate/Direccion/validate-direccion-regExp.js"></script>
    <script src="~/Content/js/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- JS para llenar el dropdowList de estados por medio de la seleccion de un pais -->
    <script>

        var AddEditar = function (IdDireccion) {
           
            var url = "/Direccion/GeDireccion?IdDireccion=" + IdDireccion;

            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");

            })

        };

        $(document).ready(function () {

            var oTable;

            BindDataTable();

            function BindDataTable() {

                if ($.fn.DataTable.isDataTable('#tblDireccion')) {
                    oTable.Draw();
                }
                else {
                    oTable = $('#tblDireccion').DataTable({

                        "bServerSide": true,
                        "sAjaxSource": '/Direccion/GetDireccion',
                        "fnServerData": function (sSource, aoData, fnCallback) {
                            $.ajax({
                                type: "Get",
                                data: aoData,
                                url: sSource,
                                success: fnCallback
                            })
                        },
                        "pageLength": 5,
                        "paging": true,
                        "language": {

                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        },
                        "dataSrc":"",
                        "columns": [

                            { "data": "StrCalle" },
                            { "data": "NombreColonia" },
                            { "data": "StrNumeroInterior" },
                            { "data": "StrNumeroExterior" },
                            
                            {
                                "data": "IdDireccion",
                                "render": function (IdDireccion, type, full, meta) {

                                    return '<a href="#" onclick="AddEditar(' + IdDireccion + ')"><i class="btn btn-sm btn-google glyphicon glyphicon-trash"></i></a>'
                                }
                            },
                        ]
                    });
                }
            }


            $("#Pais").change(function () {
                var paisId = $(this).val();

                $.ajax({
                    type: "Post",
                    url: "/Direccion/ConsultarEstadosByPais?idPais=" + paisId,
                    contentType: "html",
                    success: function (response) {
                        $("#Estados").empty();
                        $("#Estados").append(response);
                    },
                    error: function (error) {

                    }
                });
            });

            // -- JS para la consulta de municipios por estado, se llena dropdownlist de municipios
            $("#Estados").change(function () {
                var estadoId = $(this).val();

                $.ajax({
                    type: "Post",
                    url: "/Direccion/ConsultarMunicipiosByEstado?idEstado=" + estadoId,
                    contentType: "html",
                    success: function (response) {
                        $("#Municipios").empty();
                        $("#Municipios").append(response);
                    },
                    error: function (error) {

                    }
                });
            });

            //-- JS para la consulta de colonias por municipio, se llena dropdownlist de colonias
            $("#Municipios").change(function () {
                var municipioId = $(this).val();

                $.ajax({
                    type: "Post",
                    url: "/Direccion/ConsultarColoniasByMunicipio?idMunicipio=" + municipioId,
                    contentType: "html",
                    success: function (response) {
                        $("#IdColonia").empty();
                        $("#IdColonia").append(response);
                    },
                    error: function (error) {

                    }
                });
            });

            // -- JS para la consulta de codigo postal por medio de una colonia
            $("#IdColonia").change(function () {
                var coloniaId = $(this).val();

                $.ajax({
                    type: "Post",
                    url: "/Direccion/ConsultarCodigoPostalByColonia?idColonia=" + coloniaId,
                    contentType: "json",
                    success: function (response) {

                        $("#codigoPostal").prop('disabled', true);
                        $("#codigoPostal").css("border-bottom-color", "#00A65A");
                        $("#codigoPostal").val(response);

                    },
                    error: function (error) {

                    }
                });
            });

        });

    </script>
}