@using AppDigitalCv.Security
@model AppDigitalCv.ViewModels.DireccionVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="bs-container content" style="min-height:960px;">
        <section class="content-header">
            <h1>
                Agregar Dirección
                <small> Agregar la direccion completa </small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"> <i class="fa fa-dashboard"></i>Inicio </a></li>
                <li> <a href="#">Dirección</a></li>
                <li class="active">(Agregar)</li>
            </ol>
        </section>
        <br />
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-success">
                    <br /><label class="text-green">
                        <i class="text-success fa fa-graduation-cap"></i>
                        @SessionPersister.AccountSession.NombreCompleto
                    </label>

                    <div role="form">
                        <div class="box-body">
                            <div class="form-inline">
                                <div class="form-group-sm ">
                                        <label>País:</label>
                                        @Html.DropDownList("Pais", null, htmlAttributes: new { @class = "form-control input-sm", id = "Pais" })
                                        <label>Estado:</label>
                                        @Html.DropDownList("Estados", null, htmlAttributes: new { @class = "form-control input-sm", id = "Estados" })
                                        
                                    </div>
                                <br />
                                <div class="form-group-sm">
                                    <label>Municipio:</label>
                                    @Html.DropDownList("Municipios", null, htmlAttributes: new { @class = "form-control input-sm", id = "Municipios" })
                                    <label>Colonia</label>
                                    @Html.DropDownList("IdColonia", null, htmlAttributes: new { @class = "form-control input-sm", id = "IdColonia" })
                                </div>
                                <div class="form-group-sm ">
                                    <label for="etCodigoPostal"> Codigo Postal: </label>
                                    @Html.TextBoxFor(model => model.ColoniaVM.intCp, new { @class = "form-control input-sm", placeholder = "Codigo Postal", id = "codigoPostal" })
                                    <label for="etCalle">Calle:</label>
                                    @Html.TextBoxFor(model => model.StrCalle, new { @class = "form-control input-sm", placeholder = "Calle", required = "", id = "Calle", pattern = "^[a-záéíóúñA-ZÁÉÍÓÚÑ0-9.# ]+$" })
                                    
                                </div>
                                <div class="form-group-sm">
                                    <label for="etNoInterior">No.Interior:</label>
                                    @Html.TextBoxFor(model => model.StrNumeroInterior, new { @class = "form-control input-sm", placeholder = "Numero Interior", required = "", id = "NInterior", pattern = "^[0-9]+$" })
                                    <label for="etNoExterior">No° Exterior:</label>
                                    @Html.TextBoxFor(model => model.StrNumeroExterior, new { @class = "form-control input-sm", placeholder = "Numero Exterior", required = "", id = "NExterior", pattern = "^[0-9]+$" })
                                </div>
                                <div class="form-group-sm">
                                    <input type="submit" value="Guardar" class="btn btn-success" id="Enviar" />
                                </div>
                            </div>
                            <!--aqui va todo-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/Validate/Direccion/validate-direccion-form.js"></script>
<script src="~/Scripts/Validate/Direccion/validate-direccion-regExp.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<!-- JS para llenar el dropdowList de estados por medio de la seleccion de un pais -->
<script>
    $(document).ready(function () {

        $("#Pais").change(function () {
            var paisId = $(this).val();
           
            $.ajax({
                type: "Post",
                url: "/Direccion/ConsultarEstadosByPais?idPais=" + paisId,
                contentType: "html",
                success: function (response) {
                    $("#Estados").empty();
                    $("#Estados").append(response);
                },
                error: function (error) {

                }
            });
        });

        // -- JS para la consulta de municipios por estado, se llena dropdownlist de municipios
        $("#Estados").change(function () {
            var estadoId = $(this).val();
            
            $.ajax({
                type: "Post",
                url: "/Direccion/ConsultarMunicipiosByEstado?idEstado=" + estadoId,
                contentType: "html",
                success: function (response) {
                    $("#Municipios").empty();
                    $("#Municipios").append(response);
                },
                error: function (error) {

                }
            });
        });

        //-- JS para la consulta de colonias por municipio, se llena dropdownlist de colonias
        $("#Municipios").change(function () {
            var municipioId = $(this).val();
            
            $.ajax({
                type: "Post",
                url: "/Direccion/ConsultarColoniasByMunicipio?idMunicipio=" + municipioId,
                contentType: "html",
                success: function (response) {
                    $("#IdColonia").empty();
                    $("#IdColonia").append(response);
                },
                error: function (error) {

                }
            });
        });

        // -- JS para la consulta de codigo postal por medio de una colonia
        $("#IdColonia").change(function () {
            var coloniaId = $(this).val();
            
            $.ajax({
                type: "Post",
                url: "/Direccion/ConsultarCodigoPostalByColonia?idColonia=" + coloniaId,
                contentType: "json",
                success: function (response) {

                    $("#codigoPostal").prop('disabled', true);
                    $("#codigoPostal").css("border-bottom-color", "#00A65A");
                    $("#codigoPostal").val(response);

                },
                error: function (error) {

                }
            });
        });

    });

</script>