
@model AppDigitalCv.ViewModels.CapacitacionesRecibidasVM
@using AppDigitalCv.Security

@using (Html.BeginForm("Create", "CapacitacionesRecibidas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="bs-container" style="min-height:;">
        <section class="content-header">
            <h1>
                Capacitaciones Tomadas
                <small>(Agregar)</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"> <i class="fa fa-dashboard"></i> Inicio </a></li>
                <li> <a href="#"> Capacitación</a></li>
                <li class="active"> Recibida</li>
            </ol>
        </section>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Tipo de Capacitación:</label>
                                    @Html.DropDownList("idTipoCapacitacion", null, new { @class = "form-control input-sm", id = "idTipoCapacitacion" })
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label id="lblNombre">Nombre:</label>
                                    @Html.TextBoxFor(model => model.strNombre, null, new { @class = "form-control input-sm", id = "strNombre" })
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label id="lblHoras">Total de Horas:</label>
                                    @Html.TextBoxFor(model => model.strTotalHoras, null, new { @class = "form-control input-sm", id = "strTotalHoras" })
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Institución que lo Acredita:</label>
                                    @Html.TextBoxFor(model => model.strInstitucionAcredita, null, new { @class = "form-control input-sm", id = "strInstitucionAcredita" })
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Evidencia en Formato PDF:</label>
                                    @Html.TextBoxFor(model => model.Documentos.DocumentoFile, null, new { @class = "form-control input-sm", type = "file", id = "file" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="submit" class="btn btn-sm btn-success" value="Registrar Información" id="Enviar" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="input-sm">
        <div class="">
            <!-- Agregamos la tabla de forma dinamica  style="display:none" -->
            <div class="form-group" id="addTable">
                <table id="tblCapacitaciones" border="1" style="width: 100%; border:solid 1px #428BCA; border-collapse: collapse;" class="table table-responsive">
                    <thead class="" style="color:white; background-color:#428BCA; font-size:10px;">
                        <tr>
                            <th>Nombre de la Capacitación</th>
                            <th>Tipo de Capacitación</th>
                            <th>Documento</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tblBody"></tbody>
                </table>

                <!-- Establecemos el Modal que se va a presentar cuando demos click en la edicion de los datos-->
                <div class="modal fade" id="myModal1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color:#3C8DBC;color:white;">
                                <a href="#" class="close" data-dismiss="modal">&times;</a>
                                <h5 class="modal-title"><label style="font-size:medium;">Capacitación Recibida</label></h5>
                            </div>
                            <div class="modal-body" id="myModalBodyDiv1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/toastr.min.css" rel="stylesheet" />
@section scripts
    {
    <script src="~/Scripts/Validate/CapacitacionesRecibidas/validate-capacitaciones-recibidas-regExp.js"></script>
    <script src="~/Scripts/Validate/CapacitacionesRecibidas/validate-capacitaciones-recibidas-upload.js"></script>
    <script src="~/Scripts/Validate/CapacitacionesRecibidas/validate-capacitaciones-tomadas-form.js"></script>
    <script src="~/Scripts/Validate/CapacitacionesRecibidas/fixdom-capacitaciones-recibidas.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>

    <script>

          var AddDelete = function (id) {
            var url = "/CapacitacionesRecibidas/GetCapacitacionDelete?_id=" + id;

            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");

            });
        };


       $(document).ready(function ()
       {

           $('#idTipoCapacitacion').select2();

           var oTable;
           BindDataTable();

           function BindDataTable() {

                if ($.fn.DataTable.isDataTable('#tblCapacitaciones')) {
                    oTable.Draw();
                }
                else {

                    oTable = $('#tblCapacitaciones').DataTable({
                        "bServerSide": true,
                        "sAjaxSource": '/CapacitacionesRecibidas/GetCapacitacionesRecibidas',
                        "fnServerData": function (sSource, aoData, fnCallback) {
                            $.ajax({
                                type: "Get",
                                data: aoData,
                                url: sSource,
                                success: fnCallback
                            })
                        },
                        "pageLength": 10,
                        "paging": true,
                        "language": {

                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        },
                        "dataSrc": " ",
                        "columns": [
                            { "data": "strNombre" },
                            { "data": "TipoCapacitacion.strValor" },
                            {
                            "data": "Documentos.StrUrl",
                                "render": function (StrUrl) {
                                return '<a target="_blank" href="/Imagenes/Usuarios/@SessionPersister.AccountSession.NombreCompleto/' + StrUrl + '"><i class="btn btn-default fa fa-file-pdf-o" style="color:red;"></i></a>&nbsp; '+StrUrl+''
                                }
                            },
                            {
                                "data": "id",
                                "render": function (id, type, full, meta) {
                                    return '<a href="#" onclick="AddDelete(' + id + ')"><i class="btn btn-sm btn-google glyphicon glyphicon-remove"></i></a>'
                                }
                            },
                        ]
                    });
                }
            }
       });
    </script>

}