
@model AppDigitalCv.ViewModels.HobbieVM
@using AppDigitalCv.Security

<div>
    <form id="myForm" enctype="multipart/form-data">

        @Html.HiddenFor(model => model.id, new { id = "id" })

        <div class="bs-container">

            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                <img alt="user Pic" src="~/Imagenes/escudo_uttt.jpg" id="profile-image1" class="product-img img-responsive" width="100" height="70" />
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="form-group">
                        <label>Seleccione el Hobbie y/o Afición:</label>
                        @Html.DropDownListFor(model => model.idHobbie, null, new { @class = "form-control input-sm",id="hobbie" })
                    </div>
                    <div class="form-group">
                        <label>Frecuencia con la que lo Practica:</label>
                        @Html.DropDownListFor(model => model.idFrecuencia, null, new { @class = "form-control input-sm",id="frecuencia" })
                    </div>
                    <div class="form-group">
                        <label>Tiempo en Horas que lo Practica:</label>
                        @Html.TextBoxFor(model => model.strTiempoPractica, null, new { @class = "form-control input-sm",id="tiempoPractica" })
                    </div>
                    <div class="form-group">
                        <a href="#" id="btnSubmit" class="btn btn-sm btn-success"><span><i class=""></i> Actualizar</span></a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            let idHobbie = $('#hobbie').val();
            let idFrecuencia = $('#frecuencia').val();
            let strTiempoPractica = $('#tiempoPractica').val();

            if (idHobbie > 0 && idFrecuencia > 0 && strTiempoPractica != "") {

                var HobbieVM = {};
                var idPersonal = @SessionPersister.AccountSession.IdPersonal;

                HobbieVM.id = $('#id').val();
                HobbieVM.idHobbie = $('#hobbie').val();
                HobbieVM.idFrecuencia = $('#frecuencia').val();
                HobbieVM.idPersonal = idPersonal;
                HobbieVM.strTiempoPractica = $('#tiempoPractica').val();

                $.ajax({
                    type: "POST",
                    url: "/Hobbie/UpdateHobbie",
                    data: { hobbieVM: HobbieVM },
                    success: function () {
                        window.location.href = "/Hobbie/Create";
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert(textStatus);
                        console.log(textStatus);

                    }
                })

            } else
            {
                toastr.warning('No Puedes Dejar Campos Vacios', 'Digital-Cv dice', { timeOut: 1000, closeButton: true });
            }


        });
    });
</script>




