@model AppDigitalCv.ViewModels.DatosContactoVM
@using AppDigitalCv.Security
    <noscript>
        <meta http-equiv="refresh" content="0;URL=@Url.Action("NoScript","Error")" />
    </noscript>
<div>
    <form id="myForm">

        <div class="bs-container">
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                    <img alt="user Pic" src="~/Imagenes/escudo_uttt.jpg" id="profile-image1" class="product-img img-responsive" width="100" height="70" />
                </div>
                <div class="col-md-7 col-xs-11 col-sm-5 col-lg-7">
                    @Html.HiddenFor(model => model.IdPersonal)
                    @Html.HiddenFor(model => model.IdDatosContacto)
                    <div class="form-group">
                        <label>Nombre(s):</label>
                        @Html.TextBoxFor(model => model.strNombre, new { @class = "form-control input-sm",id="nombre" })
                    </div>
                    <div class="form-group">
                        <label>Apellido Paterno:</label>
                        @Html.TextBoxFor(model => model.strApellidoPaterno, new { @class = "form-control input-sm" ,id="apellidoPaterno"})
                    </div>
                    <div class="form-group">
                        <label>Apellido Materno:</label>
                        @Html.TextBoxFor(model => model.strApellidoMaterno, new { @class = "form-control input-sm",id="apellidoMaterno" })
                    </div>
                    <div class="form-group">
                        <label>Telefono Celular</label>
                        @Html.TextBoxFor(model => model.TelefonoCelular, new { @class = "form-control input-sm",id="telefonoCelular" })
                    </div>
                    <div class="form-group">
                        <label>Telefono de Casa</label>
                        @Html.TextBoxFor(model => model.TelefonoCasa, new { @class = "form-control input-sm",id="telefonoCasa" })
                    </div>
                    <div class="form-group">
                        <label>Telefono de Recados</label>
                        @Html.TextBoxFor(model => model.TelefonoRecados, new { @class = "form-control input-sm",id="telefonoRecados" })
                    </div>
                    <div class="form-group">
                        <label>Email Personal</label>
                        @Html.TextBoxFor(model => model.MailPersonal, new { @class = "form-control input-sm",id="emailPersonal" })
                    </div>
                    <div class="form-group">
                        <label>Dirección</label>
                        @Html.TextBoxFor(model => model.strDireccion, new { @class = "form-control input-sm",id="direccion" })
                    </div>
                    <div class="form-group">
                        <label>Nombre de Usuario en Facebook</label>
                        @Html.TextBoxFor(model => model.NombreFacebook, new { @class = "form-control input-sm" })
                    </div>
                    <div class="form-group">
                        <label>Nombre de Usuario en Twitter</label>
                        @Html.TextBoxFor(model => model.NombreTwitter, new { @class = "form-control input-sm" })
                    </div>
                    <div class="form-group">
                        <label>Asignar Como Contacto de Emergencia?</label>
                        <br />
                        Si @Html.RadioButtonFor(model => model.bitContactoEmergencia,true)
                        No @Html.RadioButtonFor(model => model.bitContactoEmergencia,false)
                    </div>
                    <div class="form-group">
                        <a href="#" id="btnSubmit" class="btn btn-sm btn-success"><span>Actualizar</span></a>
                    </div>
                </div>
            </div>
                
            </div>
       

    </form>


</div>

<script>

     $("#nombre").bind('keypress', function (e) {
        var regex = new RegExp("^[a-záéíóúñA-ZÁÉÍÓÚÑ ]+$");
        var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (!regex.test(key)) {
            toastr.warning("Solo se Admiten Cadenas de Texto.", "Digital-Cv dice", { timeOut: 1000, closeButton: true });
            e.preventDefault();
            return false;
        }
    });

    $("#apellidoPaterno").bind('keypress', function (e) {
        var regex = new RegExp("^[a-záéíóúñA-ZÁÉÍÓÚÑ ]+$");
        var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (!regex.test(key)) {
            toastr.warning("Solo se Admiten Cadenas de Texto.", "Digital-Cv dice", { timeOut: 1000, closeButton: true });
            e.preventDefault();
            return false;
        }
    });

    $("#apellidoMaterno").bind('keypress', function (e) {
        var regex = new RegExp("^[a-záéíóúñA-ZÁÉÍÓÚÑ ]+$");
        var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (!regex.test(key)) {
            toastr.warning("Solo se Admiten Cadenas de Texto.", "Digital-Cv dice", { timeOut: 1000, closeButton: true });
            e.preventDefault();
            return false;
        }
    });

    $("#direccion").bind('keypress', function (e) {
        var regex = new RegExp("^[a-záéíóúñA-ZÁÉÍÓÚÑ0-9, ]+$");
        var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (!regex.test(key)) {
            toastr.warning("Solo se Admiten Cadenas de Texto.", "Digital-Cv dice", { timeOut: 1000, closeButton: true });
            e.preventDefault();
            return false;
        }
    });

    $("#telefonoCelular").bind('keypress', function (e) {
        var regex = new RegExp("^[0-9]+$");
        var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (!regex.test(key)) {
            toastr.warning("Solo se Admiten Numeros", "Digital-Cv dice", { timeOut: 1000, closeButton: true  });
            e.preventDefault();
            return false;
        }
    });

    $("#telefonoCasa").bind('keypress', function (e) {
        var regex = new RegExp("^[0-9]+$");
        var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (!regex.test(key)) {
            toastr.warning("Solo se Admiten Numeros.", "Digital-Cv dice", { timeOut: 1000, closeButton: true  });
            e.preventDefault();
            return false;
        }
    });

    $("#telefonoRecados").bind('keypress', function (e) {
        var regex = new RegExp("^[0-9]+$");
        var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (!regex.test(key)) {
            toastr.warning("Solo se Admiten Numeros.", "Digital-Cv dice", { timeOut: 1000, closeButton: true  });
            e.preventDefault();
            return false;
        }
    });

    $("#Facebook").bind('keypress', function (e) {
        var regex = new RegExp("^[a-záéíóúñA-ZÁÉÍÓÚÑ ]+$");
        var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (!regex.test(key)) {
            toastr.warning("Solo se Admiten Cadenas de Texto.", "Digital-Cv dice", { timeOut: 1000, closeButton: true  });
            e.preventDefault();
            return false;
        }
    });

    $("#Twitter").bind('keypress', function (e) {
        var regex = new RegExp("^[a-záéíóúñA-ZÁÉÍÓÚÑ ]+$");
        var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (!regex.test(key)) {
            toastr.warning("Solo se Admiten Cadenas de Texto.", "Digital-Cv dice", { timeOut: 1000, closeButton: true  });
            e.preventDefault();
            return false;
        }
    });

    $(document).ready(function () {
        $("#btnSubmit").click(function () {

            let nombre = $('#nombre').val();
            let apellidoPaterno = $('#apellidoPaterno').val();
            let apellidoMaterno = $('#apellidoMaterno').val();
            let telefonoCelular = $('#telefonoCelular').val();
            let telefonoCasa = $('#telefonoCasa').val();
            let telefonoRecados = $('#telefonoRecados').val();
            let mailPersonal = $('#emailPersonal').val();
            let direccion = $('#direccion').val();

            if (nombre != "" && apellidoPaterno != "" && apellidoMaterno != "" && telefonoCelular != "" && telefonoCasa != ""
                && telefonoRecados != "" && mailPersonal != "" && direccion != "") {

                var myformdata = $("#myForm").serialize();
                $.ajax({
                    type: "POST",
                    url: "/digitalcv/DatosContacto/AddEditDatosContacto",
                    data: myformdata,
                    success: function () {
                        $("#myModal1").modal("hide");
                        window.location.href = "/digitalcv/DatosContacto/Create";
                    }
                })
            } else
            {
                toastr.warning('No Puedes Dejar Campos Vacios', 'Digital-Cv dice:', { closeButton: true, timeOut:1000 });
            }

        });
    });
</script>