@model AppDigitalCv.ViewModels.DatosContactoVM
@using AppDigitalCv.Security

<div>
    <form id="myForm">
        <div class="bs-container">
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                    @*<img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">*@

                    <img alt="user Pic" src="~/Imagenes/escudo_uttt.jpg" id="profile-image1" class="product-img img-responsive" width="100" height="70" />
                </div>
                <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                    @Html.HiddenFor(model => model.IdPersonal)
                    <ul class="todo-list">
                        <li class="list-unstyled">
                            <label>Nombre(s):</label>
                            @Html.DisplayFor(model => model.strNombre)
                        </li>
                        <li class="list-unstyled">
                            <label>Apellido Paterno:</label>
                            @Html.DisplayFor(model => model.strApellidoPaterno)
                        </li>
                        <li class="list-unstyled">
                            <label>Apellido Materno:</label>
                            @Html.DisplayFor(model => model.strApellidoMaterno)
                        </li>
                        <li class="list-unstyled">
                            <label>Telefono Celular:</label>
                            @Html.DisplayFor(model => model.TelefonoCelular)
                        </li>
                        <li class="list-unstyled">
                            <label>Telefono de Casa:</label>
                            @Html.DisplayFor(model => model.TelefonoCasa)
                        </li>
                        <li class="list-unstyled">
                            <label>Telefono de Recados:</label>
                            @Html.DisplayFor(model => model.TelefonoRecados)
                        </li>
                        <li class="list-unstyled">
                            <label>Email Personal:</label>
                            @Html.DisplayFor(model => model.MailPersonal)
                        </li>
                        <li class="list-unstyled">
                            <label>Dirección:</label>
                            @Html.DisplayFor(model => model.strDireccion)
                        </li>
                        <li class="list-unstyled">
                            <label>Nombre de Usuario en Facebook:</label>
                            @Html.DisplayFor(model => model.NombreFacebook)
                        </li>
                        <li class="list-unstyled">
                            <label>Nombre de Usuario en Twitter:</label>
                            @Html.DisplayFor(model => model.NombreTwitter)
                        </li>
                        <li class="list-unstyled">
                            <label>Contacto de Emergencia:</label>
                            @Model.bitContactoEmergencia
                        </li>
                    </ul>
                </div>                         
            </div>
            <br />  
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-lg-offset-4 col-md-offset-4">
                    <a href="#" id="btnSubmit" class="btn btn-sm btn-danger"><span>Eliminar</span></a>
                </div>
            </div>
        </div>
    </form>


</div>
<script src="~/Content/js/plugins/bootstrap/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            //serialización del formaulario
            var myformdata = $("#myForm").serialize();
            $.ajax({
                type: "POST",
                url: "/DatosContacto/EliminarDatosDeContactoDocente",
                data: myformdata,
                success: function () {
                    $("#myModal1").modal("hide");
                    window.location.href = "/DatosContacto/Create";
                }
            })
        });
    });
</script>
